* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.sidebar {
    width: 250px;
    background-color: #d0b371;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.sidebar .logo {
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar .menu li {
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
}

.sidebar .menu li:hover {
    background-color: #ddd;
    color: #333;
}

.sidebar .menu li .submenu {
    padding-left: 20px;
    font-weight: normal;
}

.sidebar .submenu li {
    padding: 10px;
    font-size: 0.9em;
}

.content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}


@media (max-width: 768px) {
    .sidebar {
        display: none; 
color: #d0b371;
    }
    .content {
        margin-left: 0; 
    }
    *{
        padding: 2%;
    }
}