<app-top-nav-1></app-top-nav-1>
<div class="contact-header"> 
    <h1>Contact Us</h1>
    <p routerLink="/home">HOME / CONTACT US</p>
 </div>
 <div class="contact-container">
   
    <h2>We're always eager to hear from you!</h2>
    <p></p>
    <div class="contact-container1">
        <div class="contact-details">
            <div class="contact-card">
                <i class="fas fa-map-marker-alt" (click)="openGoogleMaps()"></i>
                <div>
                    <h4 style="font-weight: bold;">Address</h4>
                    <p>
                        Plot No. 3, 3rd Floor, Sri Sai Enclave,<br>
                        Opp: Tata Service Center, Old Bowenpally, HYDERABAD, INDIA
                    </p>
                </div>
            </div>
            <div class="contact-card">
                <i class="fas fa-phone"></i>
                <div>
                    <h4 style="font-weight: bold;">Contact</h4>
                    <p style="font-weight: lighter;">
                        <strong>Phone:</strong> +91  8688802505<br>
                        <strong>Email:</strong>  info&#64;buserele.com<br>
                        <strong>Website:</strong> www.gvrinfosystems.com
                    </p>
                </div>
            </div>
            <div class="contact-card">
                <i class="fas fa-clock"></i>
                <div>
                    <h4 style="font-weight: bold;">Business Hours</h4>
                    <p style="font-weight: lighter;">
                        <strong>Monday-Friday:</strong> 9:30AM - 6PM<br>
                        <strong>Saturday-Sunday:</strong> Closed
                    </p>
                </div>
            </div>
        </div>
    </div>
    

    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.835434509123!2d78.4751317!3d17.4784881!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9be6a16fede3%3A0x4c28311053c6b9fe!2sGVR%20Infosystems%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1616161616161!5m2!1sen!2sin"
            allowfullscreen=""
            loading="lazy"
        ></iframe>
    </div>
        <div class="email-form">
            <h3>Send Us An Email</h3>
            <form [formGroup]="userEnquiryform" (ngSubmit)="enquiryformsubmit()">
              <div class="form-group">
                <div class="input-container">
                  <input
                    type="text"
                    id="Name"
                    name="name"
                    formControlName="name"
                    placeholder=" "
                    required
                  />
                  <label for="Name">Name</label>
                  <div *ngIf="userEnquiryform.get('name')?.touched && userEnquiryform.get('name')?.invalid" class="error-message">
                    <small *ngIf="userEnquiryform.get('name')?.hasError('required')">Name is required.</small>
                    <small *ngIf="userEnquiryform.get('name')?.hasError('minlength')">Name should be at least 3 characters long.</small>
                  </div>
                </div>
                
                <div class="input-container">
                  <input
                    type="email"
                    id="email"
                    name="email"
                    formControlName="email"
                    placeholder=" "
                    required
                    [class.invalid]="userEnquiryform.get('email')?.touched && userEnquiryform.get('email')?.invalid"/>
                   <label for="email">Email</label>
                
                  <div *ngIf="userEnquiryform.get('email')?.touched && userEnquiryform.get('email')?.invalid" class="error-message">
                    <small *ngIf="userEnquiryform.get('email')?.hasError('required')">Email is required.</small>
                    <small *ngIf="userEnquiryform.get('email')?.hasError('email')">Please enter a valid email address.</small>
                  </div>
                </div>
                
              </div>
              <div class="input-container full-width">
                <textarea
                  formControlName="message"
                  name="message"
                  rows="3"
                  placeholder=" "
                  required
                ></textarea>
                <label>Enter Your Message</label>
                <div *ngIf="userEnquiryform.get('message')?.touched && userEnquiryform.get('message')?.invalid" class="error-message">
                  <small *ngIf="userEnquiryform.get('message')?.hasError('required')">Message is required.</small>
                  <small *ngIf="userEnquiryform.get('message')?.hasError('minlength')">Message should be at least 10 characters long.</small>
                </div>
              </div>
              <button type="submit" [disabled]="userEnquiryform.invalid">Submit</button>
            </form>
          </div>
          
         
          <div class="modal-overlay" *ngIf="isUpdateModalOpen" (click)="UpdatecloseModal()"></div>
          <div class="modal" tabindex="-1" role="dialog"[style.display]="isUpdateModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="margin-top: 35%;">
                <div class="modal-header">
                  <h5 class="modal-title">Status</h5>
                  <button type="button" class="close" aria-label="Close"   style="cursor: pointer;
                  border-radius: 5px;
                  color: red;margin-left: 82%;"(click)="UpdatecloseModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>{{ propertyInsStatus }}</p> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                </div>
              </div>
            </div>
          </div>
  </div>
<app-footer></app-footer>

  