<div *ngIf="isLoading" class="preloader">
    <img src="assets/images/load.gif" alt="Loading...">
</div>
<div *ngIf="!isLoading">
    <app-top-nav-1></app-top-nav-1>
    <div class="container">
        <div class="maincontainer" *ngFor="let propertydetailsitem of propertydetails">
            <div class="propTitlePrice">
                <h5 class="propertyTitle" style="flex: 1; margin: 0;">{{propertydetailsitem.propertyName}}</h5>
                <h5 *ngIf="isVisible">{{propertydetailsitem.UserID}}</h5>

                
                <div class="propPriceDet">
                 <div style="display: flex; align-items: center; margin-right: 20px;">
                        <h5 style="margin: 0; font-size: 12px; color: #888; font-weight: 400">
                            Sft Price
                            <span style="font-size: 22px; margin-left: 5px;">/</span>
                        </h5>
                        <h5 style="margin: 0; font-size: 20px; font-weight: 700; color: #6449e7; margin-left: 5px;">
                            Rs {{propertydetailsitem.propertyArea}}
                        </h5>
                    </div>
                


                    <div style="display: flex; align-items: center; margin-right: 20px;">
                        <h5 style="margin: 0; font-size: 12px; color: #888; font-weight: 400">
                           Price
                            <span style="font-size: 22px; margin-left: 5px;">/</span>
                        </h5>
                        <h5 style="margin: 0; font-size: 20px; font-weight: 700; color: #6449e7;margin-left: 5px;">
                            Rs {{convertToCrores(propertydetailsitem.propertyPrice)}}
                        </h5>
                    </div>

                    
                
                    <div class="wishlist-container">
                       
                        <div style="margin-right: 20px;" class="wishlist-container">
                          <i 
                            id="heartIcon"
                            class="fas fa-heart"
                            [ngStyle]="{ 'color': isLiked ? 'red' : 'grey' }"
                            title="Add to Wishlist"
                            (click)="toggleHeart()"
                            style="cursor: pointer;">
                          </i>
                        </div>
                        
                        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Status</h5>
                                <button type="button" class="close" aria-label="Close"  (click)="UpdatecloseModal()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>{{ propertyInsStatus }}</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      
                        <!-- <div class="share-container" style="display: inline-block; position: relative;">
                          <i 
                            class="fas fa-share-alt share-icon"
                            title="Share"
                            style="cursor: pointer; font-size: 15px;"
                            (click)="toggleShareMenu()">
                          </i>
                          <div *ngIf="isShareMenuVisible" class="share-menu" style="display: block;">
                            <a (click)="shareOnWhatsApp()" title="Share on WhatsApp" style="cursor: pointer;">
                              <i class="fab fa-whatsapp" style="color: #25D366;"></i>
                            </a>
                            <a (click)="shareOnInstagram()" title="Share on Instagram" style="cursor: pointer;">
                              <i class="fab fa-instagram" style="color: #E1306C;"></i>
                            </a>
                            <a (click)="shareOnFacebook()" title="Share on Facebook" style="cursor: pointer;">
                              <i class="fab fa-facebook" style="color: #1877F2;"></i>
                            </a>
                          </div>
                        </div> -->
                        <div class="share-container" style="display: inline-block; position: relative;">
                          <i 
                            class="fas fa-share-alt share-icon"
                            title="Share"
                            style="cursor: pointer; font-size: 15px;"
                            (mouseenter)="openShareMenu()"
                            (mouseleave)="closeShareMenu()">
                          </i>
                        
                          <div *ngIf="isShareMenuVisible" 
                               class="share-menu" 
                               (mouseenter)="openShareMenu()"
                               (mouseleave)="closeShareMenu()">
                            <a (click)="shareOnWhatsApp()" title="Share on WhatsApp" style="cursor: pointer;">
                              <i class="fab fa-whatsapp" style="color: #25D366;"></i>
                            </a>
                            <a (click)="shareOnInstagram()" title="Share on Instagram" style="cursor: pointer;">
                              <i class="fab fa-instagram" style="color: #E1306C;"></i>
                            </a>
                            <a (click)="shareOnFacebook()" title="Share on Facebook" style="cursor: pointer;">
                              <i class="fab fa-facebook" style="color: #1877F2;"></i>
                            </a>
                          </div>
                        </div>
                        
                        
                      </div>   
                </div>  
            </div>
          
            <div class="propertyimagecontainer d-flex flex-wrap justify-content-between align-items-start p-0 mb-4">
                <div class="imagecon">
                    <div class="property-for">
                    <p class="property-status" [ngStyle]="{'color': propertydetails[0]?.propertyBadgeColor}">
                        {{ propertydetails[0]?.propertyFor }}
                      </p>
                     </div>
                    <div class="imagecontainer">
                        
                        <img src="{{selectedImage}}">
                        <ng-template #noImage>
                            <img *ngIf="propertydetails[0]?.propertyImages?.length > 0; else noImagesAvailable"
                                [src]="propertydetails[0]?.propertyImages[0]"
                                [alt]="'Property Image 1'"
                                class="property-image">
                        </ng-template>
                        <ng-template #noImagesAvailable>
                            <p>No images available.</p>
                        </ng-template>
                    </div>

                    <div class="image-list-container mt-3 d-flex flex-wrap">
                        <div *ngFor="let image of propertydetails[0]?.propertyImages; let i = index"
                             class="thumbnail"
                             (click)="selectMainImage(image)">
                          <img [src]="image"
                               [alt]="'Thumbnail ' + (i + 1)"
                               class="thumbnail-image"
                               [class.selected]="image === selectedImage">
                        </div>
                    </div>
                </div>

                <div class="enquiryform">
                    <p class="p-text">Real Estate Enquiry Form</p>
                    <form [formGroup]="userEnquiryform">
                        <div class="form-group">
                        <label for="contactname">Name</label>
                        <input type="text" id="contactname" class="form-control" formControlName="name" (keypress)="OnlyAlphabetsAndSpacesAllowed($event)" name="name" required  pattern="^[a-zA-Z\s]+$">
                        <div *ngIf="userEnquiryform.get('name')?.touched && userEnquiryform.get('name')?.invalid" class="error-message">
                          <small *ngIf="userEnquiryform.get('name')?.hasError('required')">Name is required.</small>
                          <small *ngIf="userEnquiryform.get('name')?.hasError('pattern')">Name should only contain letters and spaces.</small>
                          <small *ngIf="userEnquiryform.get('name')?.hasError('minlength')">Name should be at least 3 characters long.</small>
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="contactEmail">Email</label>
                        <input type="email" id="contactEmail" class="form-control" formControlName="email" name="email" required>
                        <div *ngIf="userEnquiryform.get('email')?.touched && userEnquiryform.get('email')?.invalid" class="error-message">
                          <!-- <small *ngIf="userEnquiryform.get('email')?.hasError('required')">Email is required.</small> -->
                          <small *ngIf="userEnquiryform.get('email')?.hasError('email')">Please enter a valid email address.</small>
                          <p class="error-message" [ngClass]="clr">Email is required and should be valid.</p>

                        </div>
                        </div>
                        <div class="form-group">
                        <label for="contactphone">Phone (Optional)</label>
                        <input type="text" id="contactphone" class="form-control" (keypress)="OnlyNumbersAllowed($event)" formControlName="phone" name="phone" pattern="^[0-9]{10}$" maxlength="10">
                        <div *ngIf="userEnquiryform.get('phone')?.touched && userEnquiryform.get('phone')?.invalid" class="error-message">
                          <small *ngIf="userEnquiryform.get('phone')?.hasError('pattern')">Phone number must be 10 digits long.</small>
                        </div>
                        </div>
                        <div class="form-group">
                        <label for="contactMessage">Message</label>
                        <textarea id="contactMessage" class="form-control" rows="4" formControlName="message" name="message" required></textarea>
                        <div *ngIf="userEnquiryform.get('message')?.touched && userEnquiryform.get('message')?.invalid" class="error-message">
                          <small *ngIf="userEnquiryform.get('message')?.hasError('required')">Message is required.</small>
                          <small *ngIf="userEnquiryform.get('message')?.hasError('minlength')">Message should be at least 10 characters long.</small>
                        </div>
                        </div>
                        
                        <button class="btn w-100" (click)="enquiryformsubmit()" [disabled]="userEnquiryform.invalid">Submit</button>
                    </form>
                </div>
                <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Status</h5>
                        <button type="button" class="close" aria-label="Close" (click)="UpdatecloseModal()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>{{ propertyInsStatus }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="PropertyContentMain">
                <div class="propertydetails">
                      <div class="propertyoverview">
                        <div class="headings">
                          <p>Overview</p>
                        </div>
                        <div class="body">
                            <div class="grid-container">    
                                <ng-container *ngFor="let key of propertyKeys">
                                  <div *ngIf="propertydetailsitem[key]" class="grid-item">
                                    <div class="propertytype">
                                      <p class="heading">{{ getLabel(key) }}:</p>
                                      <p class="value" [ngStyle]="getValueStyle(key)">
                                        {{ propertydetailsitem[key] }}
                                      </p>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                              
                        </div>
                      </div>
                    
                      <!-- <div class="propertyoverview">
                        <div class="headings">
                          <p>Address</p>
                        </div>
                        <div class="body">
                          <div class="addressbody">
                            <div class="side1">
                              <div *ngIf="propertydetailsitem.propertyAddress" class="addpropertytype">
                                <p class="heading">Address:</p>
                                <p class="value">{{ propertydetailsitem.propertyAddress }}</p>
                              </div>
                              <div *ngIf="propertydetailsitem.nearBy" class="addpropertytype">
                                <p class="heading">Nearby:</p>
                                <p class="value">{{ propertydetailsitem.nearBy }}</p>
                              </div>
                              <div *ngIf="propertydetailsitem.propertyCity" class="addpropertytype">
                                <p class="heading">City:</p>
                                <p class="value">{{ propertydetailsitem.propertyCity }}</p>
                              </div>
                            </div>
                      
                            <div class="side2">
                              <div *ngIf="propertydetailsitem.landMark" class="addpropertytype">
                                <p class="heading">LandMark:</p>
                                <p class="value">{{ propertydetailsitem.landMark }}</p>
                              </div>
                      
                              <div *ngIf="propertydetailsitem.state" class="addpropertytype">
                                <p class="heading">State:</p>
                                <p class="value">{{ propertydetailsitem.state }}</p>
                              </div>
                      
                              <div *ngIf="propertydetailsitem.propertyZipCode" class="addpropertytype">
                                <p class="heading">Zip/Postal Code:</p>
                                <p class="value">{{ propertydetailsitem.propertyZipCode }}</p>
                              </div>
                            </div>
                          </div>   
                        </div>
                      </div> -->
                      
                      <div class="propertyoverview">
                        <div class="headings">
                          <p>Address</p>
                        </div>
                        <div class="body">
                          <div class="grid-container">
                            <ng-container *ngFor="let key of ['propertyAddress', 'nearBy', 'landMark', 'propertyCity', 'state', 'propertyZipCode']">
                              <div *ngIf="propertydetailsitem[key]" class="grid-item">
                                <div class="propertytype">
                                  <p class="heading">{{ getLabel(key) }}:</p>
                                  <p class="value">{{ propertydetailsitem[key] }}</p>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                      

            <div *ngIf="propertydetailsitem.propertydescription" class="propertyoverview PropertyDescriptionMain  ">
                <div class="headings">
                <p>Description</p>
                </div>
                <div class="body">
                <p class="PropertyDescriptionContent w-100 no-wrap" [innerHTML]="sanitizeHtml(propertydetailsitem.propertydescription)"></p>
                </div>
            </div>
  
            <div *ngIf="propertydetailsitem.propertyspecificDescription" class="propertyoverview PropertyDescriptionMain">
                <div class="headings">
                <p>Specific Description</p>
                </div>
                <div class="body">
                <p class="PropertyDescriptionContent w-100 no-wrap" [innerHTML]="sanitizeHtml(propertydetailsitem.propertyspecificDescription)"></p>
                </div>
            </div>
  
                    
                <div *ngIf="selectedAmenities.length > 0" class="propertyoverview propertyfeatures">
                    <div class="headings">
                      <p>Features</p>
                    </div>
                    <div class="body">
                      <div *ngFor="let amenity of selectedAmenities">
                        <p>
                          <span class="icon-circle">
                            <i [ngClass]="amenity.icon"></i>
                          </span>
                          {{ amenity.name }}
                        </p>
                      </div>
                    </div>
                  </div>
                  
  
                <div *ngIf="selectedVideo" class="propertyoverview propertyVideo">
                    <div class="headings">
                    <p>Video</p>
                    </div>
                    <div class="body">
                    <div class="video-container">
                        <video width="100%" controls>
                        <source [src]="selectedVideo" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                    </div>
                </div>
  
                    <div class="propertyoverview propertyreviews">
                        <div class="headings">
                            <p>Review</p>
                        </div>
                        <div class="body">
                            <form class="w-100" [formGroup]="userReviewform">
                                <div class="reviewform">
                                    <div class="reviewdiv">
                                        <div class="form-group">
                                            <label for="username">Name</label>
                                            <input 
                                                type="text" 
                                                id="username" 
                                                class="form-control" 
                                                formControlName="username" 
                                                name="username"
                                                (keypress)="OnlyAlphabetsAndSpacesAllowed($event)" 
                                                required 
                                                placeholder="Enter Full Name" 
                                                pattern="^[a-zA-Z\s]+$">
                                                <div *ngIf="userReviewform.get('username')?.touched && userReviewform.get('username')?.invalid" class="error-message">
                                                  <small *ngIf="userReviewform.get('username')?.hasError('required')">Name is required.</small>
                                                  <small *ngIf="userReviewform.get('username')?.hasError('pattern')">Only alphabets and spaces are allowed.</small>
                                                  <small *ngIf="userReviewform.get('username')?.hasError('minlength')">Name should be at least 3 characters long.</small>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group"> 
                                            <label for="useremail">Email</label>
                                            <input 
                                                type="email" 
                                                id="useremail" 
                                                class="form-control" 
                                                formControlName="useremail" 
                                                name="useremail" 
                                                required 
                                                placeholder="Enter Email">
                                                <div *ngIf="userReviewform.get('useremail')?.touched && userReviewform.get('useremail')?.invalid" class="error-message">
                                                  <!-- <small *ngIf="userReviewform.get('useremail')?.hasError('required')">Email is required.</small> -->
                                                  <small *ngIf="userReviewform.get('useremail')?.hasError('email')">Please enter a valid email.</small>
                                                  <p class="error-message" [ngClass]="clr">Email is required and should be valid.</p>

                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="usernumber">Mobile Number</label>
                                            <input 
                                                type="text" 
                                                id="usernumber" 
                                                class="form-control" 
                                                formControlName="usernumber" 
                                                (keypress)="OnlyNumbersAllowed($event)" 
                                                maxlength="10" 
                                                name="usernumber" 
                                                required 
                                                placeholder="Enter Mobile Number" 
                                                pattern="^[0-9]{10}$">
                                                <div *ngIf="userReviewform.get('usernumber')?.touched && userReviewform.get('usernumber')?.invalid" class="error-message">
                                                  <small *ngIf="userReviewform.get('usernumber')?.hasError('required')">Mobile Number is required.</small>
                                                  <small *ngIf="userReviewform.get('usernumber')?.hasError('pattern')">Mobile number must be exactly 10 digits long.</small>
                                                </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="rating">Rating</label>
                                            <div class="stars">
                                                <span 
                                                    *ngFor="let star of stars; let i = index" 
                                                    (click)="setRating(i + 1)"
                                                    (mouseover)="setHoveredRating(i + 1)"
                                                    (mouseleave)="resetHoveredRating()"
                                                    [class.filled]="(i < rating) || (i < hoveredRating)"  
                                                    class="star">
                                                    <i class="fa fa-star"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="reviewtextarea" style="margin-top: -89px;">
                                        <div class="form-group mb-3">
                                            <label for="usermessage">Message</label>
                                            <textarea 
                                                id="usermessage" 
                                                class="form-control" 
                                                rows="4" 
                                                formControlName="usermessage" 
                                                name="usermessage" 
                                                required style="height: 150px;"
                                                placeholder="Write your message here..." ></textarea>
                                                <div *ngIf="userReviewform.get('usermessage')?.touched && userReviewform.get('usermessage')?.invalid" class="error-message">
                                                  <small *ngIf="userReviewform.get('usermessage')?.hasError('required')">Message is required.</small>
                                                  <small *ngIf="userReviewform.get('usermessage')?.hasError('minlength')">Message should be at least 10 characters long.</small>
                                                </div>
                                        </div>
                                        
                                        <button 
                                            class="btn w-100" 
                                            (click)="reviewformsubmit()" 
                                            [disabled]="userReviewform.invalid">
                                            Submit
                                        </button>
                                    </div>
                                    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Status</h5>
                                              <button type="button" class="close" aria-label="Close" (click)="UpdatecloseModal()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <p>{{ propertyInsStatus }}</p> 
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="propertyoverview propertyenquirys">
                        <div class="headings">
                            <p>Enquiry</p>
                        </div>
                        <div class="body">
                            <form class="w-100" [formGroup]="userEnquiryform">
                                <div class="reviewform">
                                    <div class="reviewdiv">
                                        <div class="form-group">
                                            <label for="contactname">Name</label>
                                            <input type="text" id="contactname" class="form-control" formControlName="name" name="name" required placeholder="Enter Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="contactname">Email</label>
                                            <!-- <input type="text" id="contactname" class="form-control" formControlName="email" name="email" required placeholder="Enter Email"> -->
                                            <input 
                                                type="email" 
                                                id="contactemail" 
                                                class="form-control" 
                                                formControlName="email" 
                                                name="email" 
                                                required 
                                                placeholder="Enter Email">
                                        </div>
                                        <div *ngIf="userEnquiryform.get('email')?.touched && userEnquiryform.get('email')?.invalid" class="error-message">
                                          <!-- <small *ngIf="userEnquiryform.get('email')?.hasError('required')">Email is required.</small> -->
                                          <small *ngIf="userEnquiryform.get('email')?.hasError('email')">Please enter a valid email address.</small>
                                          <p class="error-message" [ngClass]="clr">Email is required and should be valid.</p>
                
                                        </div>

                                        <div class="form-group">
                                            <label for="contactname">Phone (Optional)</label>
                                            <input type="text" id="contactnumber" class="form-control" formControlName="phone" name="phone" placeholder="Enter Mobile Number">
                                        </div>
                                    </div>
                                    <div class="reviewtextarea">
                                        <div class="form-group mb-3">
                                            <label for="contactMessage">Message</label>
                                            <textarea id="contactMessage" class="form-control" rows="4" formControlName="message" name="message" required></textarea>
                                        </div>
                                        <button class="btn w-100" (click)="reviewformsubmit()" [disabled]="userEnquiryform.invalid">Submit</button>
                                    </div>

                                    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
                                        <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title">Status</h5>
                                              <button type="button" class="close" aria-label="Close" (click)="UpdatecloseModal()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <p>{{ propertyInsStatus }}</p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                <div *ngIf="iframeHtml" class="propertyoverview">
                    <div class="headings">
                    <p>Location</p>
                    </div>
                    <div class="body">
                    <div class="locationMap" [innerHTML]="iframeHtml"></div>
                    </div>
                </div>
                
            <div *ngIf="propertydetailsitem.websiteurl || propertydetailsitem.pinteresturl || propertydetailsitem.facebookurl || propertydetailsitem.twitterurl" class="propertyoverview">
              <div class="headings">
                <p>Social Networks</p>
              </div>
              <div class="body propSocialLinks">
                
                <div *ngIf="propertydetailsitem.websiteurl?.trim()">
                  <a href="{{propertydetailsitem.websiteurl}}" target="_blank" class="social-icon website">
                    <i class="fas fa-link"></i> 
                    <p class="value">WEBSITE</p> 
                  </a>
                </div>
            
                <div *ngIf="propertydetailsitem.pinteresturl?.trim()">
                  <a href="{{propertydetailsitem.pinteresturl}}" target="_blank" class="social-icon pinterest">
                    <i class="fab fa-pinterest"></i> 
                    <p class="value">PINTEREST</p> 
                  </a>
                </div>
            
                <div *ngIf="propertydetailsitem.facebookurl?.trim()">
                  <a href="{{propertydetailsitem.facebookurl}}" target="_blank" class="social-icon facebook">
                    <i class="fab fa-facebook"></i> 
                    <p class="value">FACEBOOK</p> 
                  </a>
                </div>
            
                <div *ngIf="propertydetailsitem.twitterurl?.trim()">
                  <a href="{{propertydetailsitem.twitterurl}}" target="_blank" class="social-icon twitter">
                    <i class="fab fa-twitter"></i> 
                    <p class="value">TWITTER</p> 
                  </a>
                </div>
            
              </div>
            </div>
  
          </div>
               
                <div class="AdvertisingPropertiesAdds">
                    <div class="ExploreFeaturedProperties">
                        <div class="container">
                            <div class="heading">
                                <h5 class="bold-text d-flex justify-content-center align-items-center">Featured Listings</h5>
                            </div>
                            <div class="PropertiesList">
                                <div class="properties row g-3 justify-content-center align-items-center m-0">
                                    <ng-container *ngFor="let propertyitem of displayedProperties; let i = index">
                                        <div *ngIf="i < 3" class="p-0 mb-3 rounded-2">
                                            <div class="propertyFulldet" (click)="navigateToProperty(propertyitem.propertyID)">
                                                <div class="propertyImage position-relative">
                                                    <img [src]="propertyitem.defaultPropImage" 
                                                         class="img-fluid w-100 h-100" 
                                                         alt="Property Image" 
                                                         style="cursor: pointer;">
                                                    <span class="badge position-absolute top-0 start-0 m-2" 
                                                          [style.background-color]="propertyitem.propertyBadgeColor">
                                                        {{ propertyitem.propertyAvailability }}
                                                    </span>
                                                </div>
                
                                                <div class="propertyDetails">
                                                    <div>
                                                        <h5 class="mb-0" [ngStyle]="{'font-size': propertyitem.propertyname.length > 12 ? '11px' : '17px'}">
                                                            {{ propertyitem.propertyname }}
                                                        </h5>
                                                    </div>
                                                    <div class="propertyaddress d-flex align-items-center mt-1 mb-1">
                                                        <i class="fa fa-location"></i>
                                                        <p class="mb-0 ms-2">
                                                            {{ propertyitem.propertyNearBy.length > 10 ? (propertyitem.propertyNearBy | slice:0:10) + '...' : propertyitem.propertyNearBy }}
                                                        </p>
                                                    </div>
                                                    <div class="d-flex justify-content-end align-items-center">
                                                        <div class="price">
                                                            <p class="mb-0 m-lg-1">Price: </p>
                                                        </div>
                                                        <p class="mb-0 m-lg-1">{{ convertToCrores(propertyitem.propertyprice) }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Status</h5>
                        <button type="button" class="close" aria-label="Close" style="cursor: pointer;
                        border-radius: 5px;
                        color: red;margin-left: 375px;"  (click)="UpdatecloseModal()">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body ">
                        <p>{{ propertyInsStatus  }}</p> 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

