<app-top-nav-1></app-top-nav-1>
<div class="center-wrapper">
    <div class="list-details-wrap  list">
      <div id="general" class="list-details-section">
        <h1 class="privacy-policy-title"><strong>Privacy Policy</strong></h1>
        <p class="last-updated"><b>Last updated:</b> February 22, 2025</p>
  
        <p>This Privacy Policy describes Our policies and procedures on the collection, use, and disclosure of Your information when You 
        <br>use the Service and tells You about Your privacy rights and how the law protects You.
        <br>We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of<br>
         information in accordance with this Privacy Policy. This Privacy Policy has been created with the help of the <a href="https://www.privacypolicies.com/privacy-policy-generator/" style="color: #222222">Privacy Policy Generator</a>.</p>
  
        <section>
          <h3>Interpretation and Definitions</h3>
          <br>
          <h4>Interpretation</h4>
          <br>
          <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following
            <br> definitions shall have the same meaning regardless of whether they appear in singular or plural.</p>
  
          <h4>Definitions</h4>
          <br>
          <p>For the purposes of this Privacy Policy:</p>
          <ul>
            <li><b>Account:</b> A unique account created for You to access our Service or parts of our Service.</li>
            <li><b>Company:</b> (Referred to as either "the Company", "We", "Us", or "Our" in this Agreement) refers to GVR INFOSYSTEMS PRIVATE LIMITED,FLAT 403</li>
            <li><b>Cookies:</b> Small files placed on Your device by a website, containing details of your browsing history...</li>
            <li><b>Country:</b> Refers to: Telangana, India</li>
            <li><b>Device:</b> Any device that can access the Service such as a computer, a cellphone, or a digital tablet.</li>
            <li><b>Personal Data:</b> Information that relates to an identified or identifiable individual.</li>
            <li><b>Service:</b> Refers to the Website.</li>
            <li><b>Service Provider:</b> Any third-party who processes data on behalf of the Company.</li>
            <li><b>Third-party Social Media Service:</b> Any social network service through which a User can log in or create an account to use the Service.</li>
            <li><b>Usage Data:</b> Data collected automatically via the use of the Service.</li>
            <li><b>Website:</b> Refers to BUSERELE PROPERTY MANAGEMENT...</li>
            <li><b>You:</b> Means the individual accessing or using the Service, or the company on behalf of which such individual is using the Service.</li>
          </ul>
        </section>
  
        <section>
          <h3>Collecting and Using Your Personal Data</h3>
          <br>
          <h4>Types of Data Collected</h4>
          <br>
  
          <h4>Personal Data</h4>
          <br>
          <p>While using Our Service, we may ask You to provide Us with certain personally identifiable information that can be used to <br>
            contact or identify You. Personally identifiable information may include, but is not limited to:</p>
          <ul>
            <li>Email address</li>
            <li>First name and last name</li>
            <li>Phone number</li>
            <li>Address, State, Province, ZIP/Postal code, City</li>
            <li>Usage Data</li>
          </ul>
  
          <h4>Usage Data</h4>
          <br>
            <p>
            Usage Data is collected automatically when using the Service.

            Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser<br>
             version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device<br>
              identifiers and other diagnostic data.<br>
            When You access the Service by or through a mobile device, We may collect certain information automatically, including, but <br>
            not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your <br>
            mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.<br>

            We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by<br>
             or through a mobile device.
            </p>  
          <h4>Information from Third-Party Social Media Services</h4>
          <p>The Company allows You to create an account and log in to use the Service through the following Third-party Social Media Services:</p>
          <ul>
            <li>Google</li>
            <li>Facebook</li>
            <li>Twitter</li>
          </ul>
            <p>
            If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We may collect Personal<br>
             data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address,<br>
              Your activities or Your contact list associated with that account.<br>
            You may also have the option of sharing additional information with the Company through Your Third-Party Social Media<br>
             Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are <br>
             giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.
            </p>  
          <h4>Tracking Technologies and Cookies</h4>
          <br>
            <p>
                We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. Tracking <br>
                technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our Service.<br>
                 The technologies We use may include:
            </p>  
          <ul>
            <li><b>Cookies or Browser Cookies:</b> A cookie is a small file placed on Your Device to track activities and preferences.</li>
            <li><b>Flash Cookies:</b> Stored objects used for storing information about Your preferences or activities.</li>
            <li><b>Web Beacons:</b> Small files that count users who have visited a page or opened an email.</li>
          </ul>
  
          <p>Learn more about cookies: <a href="https://www.privacypolicies.com/blog/cookies/" style="color: #222222">What Are Cookies?</a>.</p>
        </section>
  
        <section>
          <h3>Use of Your Personal Data</h3>
          <br>
          <h3>The Company may use Personal Data for the following purposes:</h3>
          <ul>
            <li><b>To provide and maintain our Service, including to monitor the usage of our Service.</b></li>
            <li><b>To manage Your Account: to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</b></li>
            <li><b>For performance of a contract: the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</b></li>
            <li><b>To contact You: To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</b></li>
            <li><b>To provide You with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</b></li>
            <li><b>To manage Your requests:We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</b></li>
            <li><b>For other purposes:We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience..</b></li>

        </ul>
        </section>
  
        <section>
          <h3>We may share Your personal information in the following situations:</h3>
          <br>
          <ul>
            <li><b>With Service Providers:</b> We may share Your personal information to monitor or analyze the use of our Service.</li>
            <li><b>For business transfers:</b>  We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of<br> Company assets, financing, or acquisition of all or a portion of Our business to another company..</li>
            <li><b>With Affiliates:</b>  We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. <br>Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under <br>common control with Us..</li>
            <li><b>With business partners:</b>We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
            <li><b>With other users:</b> when You share personal information or otherwise interact in the public areas with other users, such information may be<br>
                 viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service,<br>
                  Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users <br>
                  will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
            <li><b>With Your consent: </b> We may disclose Your personal information for any other purpose with Your consent.</li>
       </ul>
        </section>
  
        <section>
            <h3>Retention of Your Personal Data</h3>
            <br>
            <p>
                The Company will retain Your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy.<br>
                 We will retain and use Your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are<br>
                  required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.<br>

            The Company will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period <br>
            of time, except when this data is used to strengthen the security or to improve the functionality of Our Service, or We are <br>
            legally obligated to retain this data for longer time periods.
            </p>
        </section>

        <section>
            <h3>Transfer of Your Personal Data</h3>
            <br>
            <p>
                Your information, including Personal Data, is processed at the Company's operating offices and in any other places where the <br>
                parties involved in the processing are located. It means that this information may be transferred to — and maintained on — <br>
                computers located outside of Your state, province, country or other governmental jurisdiction where the data protection laws<br>
                 may differ than those from Your jurisdiction.<br>

                Your consent to this Privacy Policy followed by Your submission of such information represents Your agreement to that transfer.<br>
                
                The Company will take all steps reasonably necessary to ensure that Your data is treated securely and in accordance with<br>
                 this Privacy Policy and no transfer of Your Personal Data will take place to an organization or a country unless there are <br>
                 adequate controls in place including the security of Your data and other personal information.
                
                
            </p>
        </section>

        <section>
            <h3>Disclosure of Your Personal Data</h3>
            <br>
            <h3>Business Transactions</h3>
            <p>If the Company is involved in a merger, acquisition or asset sale, Your Personal Data may be transferred. We will provide <br>
                notice before Your Personal Data is transferred and becomes subject to a different Privacy Policy.</p>
                <h3>Law enforcement</h3>
                <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in<br> response to valid requests by public authorities (e.g. a court or a government agency).</p>
            </section>
            <section>
                <h3>Other legal requirements</h3>
                <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:<br>

                    Comply with a legal obligation
                    Protect and defend the rights or property of the Company
                    Prevent or investigate possible wrongdoing in connection with the Service
                    Protect the personal safety of Users of the Service or the public
                    Protect against legal liability</p>
                    <br>
                    <h3>Security of Your Personal Data</h3>
                    <p>The security of Your Personal Data is important to Us, but remember that no method of transmission over the Internet, or<br>
                         method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your <br>
                         Personal Data, We cannot guarantee its absolute security.</p>
                         <br>
                         <h3>Children's Privacy</h3>
                         <p>
                            Our Service does not address anyone under the age of 13. We do not knowingly collect personally identifiable information <br>
                            from anyone under the age of 13. If You are a parent or guardian and You are aware that Your child has provided Us with<br>
                             Personal Data, please contact Us. If We become aware that We have collected Personal Data from anyone under the age of <br>
                             13 without verification of parental consent, We take steps to remove that information from Our servers.<br>

                            If We need to rely on consent as a legal basis for processing Your information and Your country requires consent from a<br> parent, We may require Your parent's consent before We collect and use that information.
                         </p>
            </section>

            <section>
                <h3>Links to Other Websites</h3>
                <br>
                <p>Our Service may contain links to other websites that are not operated by Us. If You click on a third party link, You will be<br>
                     directed to that third party's site. We strongly advise You to review the Privacy Policy of every site You visit.<br>

                    We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or<br> services.</p>
              <br>
                 <h3>Changes to this Privacy Policy</h3>
                 <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.<br>

                    We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update<br> the "Last updated" date at the top of this Privacy Policy.<br>
                    
                    You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when <br> they are posted on this page.</p>
            </section>
        <section>
          <h3>Contact Us</h3>
          <p>If you have any questions about this Privacy Policy, You can contact us:</p>
          <ul>
            <li>Email: info&#64;buserele.com</li>
            <li>Website: www.buserele.com</li>
            <li>Phone: 8688802505</li>
          </ul>
        </section>
      </div>
    </div>
</div>
<app-footer></app-footer>
  