<div class="mainReview">
  <div class="w-100">
    <div *ngIf="viewReviewClicked" class="backLabel">
      <a href="" (click)="backclick($event)">
        <h5>Review Approval</h5>
        <p>Ready to jump back in?</p>
      </a>
    </div>
    <div *ngIf="!viewReviewClicked" >
      <div class="PageHeading">
        <h5 class="text-center m-0"><b>UPLOADED REVIEWS</b></h5>
      </div>
      <!-- <div class="filtersSearch">
        <div class="input-container" >
          <div class="searchreview">
            <i class="fas fa-search search-icon"></i>
            <input  style="width: 100%;" type="text" class="form-control search-input"  placeholder="Search reviews..." [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange()"/> 
          </div>
        </div>
        
        <div class="input-container">
          <div class="reviewStatus" style="width: 100%; position: relative;">
            <select id="pageSize" class="form-control dropdown-with-icon" (change)="onWhosePropertySelectionChange($event)">
              <option value="0">Latest</option>
              <option value="1">Approved</option>
              <option value="2">Declined</option>
            </select>
            <i class="fa fa-caret-down dropdown-icon"></i>
          </div>
        </div>
      </div> -->
      <div class="filtersSearch">
        <div class="input-container">
          <div class="searchreview" style="position: relative;">
            <label class="floating-label" [class.active]="searchQuery">Search reviews...</label>
            <i class="fas fa-search search-icon"></i>
            <input
              style="width: 100%;"
              type="text"
              class="form-control search-input" placeholder=""
              [(ngModel)]="searchQuery"
              (ngModelChange)="onSearchChange()"/>
          </div>
        </div>
      
        <div class="input-container">
          <div class="reviewStatus" style="width: 100%; position: relative;">
            <!-- onWhosePropertySelectionChange -->
            <select
              id="pageSize"
              class="form-control dropdown-with-icon" [value]="selectedReviewFilter"
              
              (change)="onReviewFilterChange($event)">
              <option value="0">Latest</option>
              <option value="1">Approved</option>
              <option value="2">Declined</option>
            </select>
            <i class="fa fa-caret-down dropdown-icon"></i>
          </div>
        </div>
      </div>
      
  
      <div class="reviewstable">
        <table  *ngIf="filteredreviews.length != 0"  class="table table-bordered">
          <thead>
            <tr>
              <th class="visually-hidden">PropertyID</th>
              <th>User Name</th>
              <th>User Email</th>
              <th>Review</th>
              <th>Status</th>
              <th>Actions</th>
              <th class="visually-hidden">ReviewId</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reviews of getPaginatedReviews()">
              <td data-label="PropertyID" class="visually-hidden">{{ reviews.propID }}</td>
              <td data-label="User Name">{{ reviews.username }}</td>
              <td data-label="User Email">{{ reviews.useremail }}</td>
              <td data-label="Review">{{ truncateText(reviews.usermessage, 20) }}</td>
              <td data-label="Status">{{reviews.reviewstatus}}</td>
              
              <td data-label="Actions">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <button class="btn viewbtn" (click)="viewReview(reviews.reviewId)"  data-tooltip="view">
                    <i class="fa fa-eye"></i>
                  </button>
                  <!-- <button class="btn checkbtn" (click)="editreview(reviews.reviewId)"  data-tooltip="Edit" >
                    <i class="fa fa-check"></i>
                  </button> -->
                </div>
              </td>
              <td class="visually-hidden">{{reviews.reviewId}}</td>
            </tr>
          </tbody>
        </table>
      
        <div *ngIf="filteredreviews.length === 0" class="NoDataFound">
          <div class="NoDataFoundImg">
            <img class="h-100 w-100" src="assets/images/IconsImages/NoDataFound.jpg" alt="">
          </div>
          <p>No Reviews found for the given search or filter criteria.</p>
        </div>
        
      </div>
      
     
   
      <nav aria-label="Page navigation example" class="mt-3">
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="setPage(1)" [disabled]="currentPage === 1">First</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          </li>
          <li *ngFor="let page of getVisiblePages()" class="page-item" [class.active]="currentPage === page">
            <button class="page-link" (click)="setPage(page)">{{ page }}</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="setPage(totalPages)" [disabled]="currentPage === totalPages">Last</button>
          </li>
        </ul>
      </nav>

    </div>
    <div *ngIf="viewReviewClicked" class="reviewview">
      <div class="PageHeading">
        <h5 class="text-center m-0"><b>REVIEW</b></h5>
      </div>
      <form>
        <div class="formrow">
          <div class="form-group">
            <label for="contactphone">PropertyID</label>
            <input type="text" id="contactphone" class="form-control" [value]="reviewdetails?.propertyID" readonly>
          </div>
          <div class="form-group">
            <label for="contactphone">Name</label>
            <input type="text" id="contactphone" class="form-control" [value]="reviewdetails?.username" readonly>
          </div>
        </div>
  
        <div class="formrow">
          <div class="form-group">
            <label for="contactphone">Email</label>
            <input type="text" id="contactphone" class="form-control" [value]="reviewdetails?.useremail" readonly>
          </div>
          <div class="form-group">
            <label for="contactphone">Phone</label>
            <input type="text" id="contactphone" class="form-control" [value]="reviewdetails?.usernumber" readonly>
          </div>

        </div>
  
        <div class="formrow">
          <div class="form-group">
            <label for="contactphone">Status</label>
            <input type="text" id="contactphone" class="form-control" [value]="reviewdetails?.status" readonly>
          </div>
          <div class="stars">
            <p><strong>Rating:</strong>
            <span *ngFor="let star of stars; let i = index" 
                  [class.filled]="i < reviewdetails.rating" 
                  class="star">
                <i class="fa fa-star"></i>
            </span>
            </p>
        </div>
        </div>

        <div class="form-group">
          <label for="contactMessage">Message</label>
          <textarea id="contactMessage" class="form-control" rows="4" [value]="reviewdetails?.usermessage" readonly></textarea>
        </div>
        <!-- <div class="updatestatusbuttons">
          <button class="decline" (click)="declineReview(reviewdetails?.ID)"><i class="fa fa-times-circle"></i>Decline</button>
          <button class="approve" (click)="approveReview(reviewdetails?.ID)"><i class="fa fa-check-circle"></i>Approve</button>
        </div> -->
 
        <div class="updatestatusbuttons">
          <ng-container *ngIf="selectedReviewFilter === '0'">
            <button class="decline" (click)="declineReview(reviewdetails?.ID)">
              <i class="fa fa-times-circle"></i> Decline
            </button>
            <button class="approve" (click)="approveReview(reviewdetails?.ID)">
              <i class="fa fa-check-circle"></i> Approve
            </button>
          </ng-container>
        
          <button *ngIf="selectedReviewFilter === '1'" class="decline" (click)="declineReview(reviewdetails?.ID)">
            <i class="fa fa-times-circle"></i> Decline
          </button>
        
          <button *ngIf="selectedReviewFilter === '2'" class="approve" (click)="approveReview(reviewdetails?.ID)">
            <i class="fa fa-check-circle"></i> Approve
          </button>
        </div>
        
        
        
        <div class="modal-overlay" *ngIf="isUpdateModalOpen" (click)="UpdatecloseModal()"></div>
        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 35%;">
              <div class="modal-header">
                <h5 class="modal-title" style="color: black;">Status</h5>
                <button type="button" class="close" aria-label="Close" style="cursor: pointer;
                border-radius: 5px;
                color: red;margin-left: 82%;" (click)="UpdatecloseModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body "  style="color: black">
                <p>{{ subscriptionStatus }}</p> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
  
