.mainReviewCentered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainReview {
  height: 100vh;
  height: 100%;
}


.reviewcard,.reviewview{
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reviewcardPropertyView{
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.filtersSearch{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px 0px;
}

.searchreview,.reviewStatus{
  width: 49%;
  margin: 0px;
}

.reviewStatus{
display: flex;
justify-content: end;
align-items: center;
}

.reviewStatus button{
background-color: #2495FD;
color: white;
border: none;
}

.reviewStatus button:hover{
background-color: #0056b3;
}

.reviewstable{
height: auto;
width: 100%;
/* overflow: auto; */
/* max-height: 250px; */
/* max-height: 321px; */
}

.viewbtn{
  padding: 0px 10px;
  border-right: 0.5px solid black;
  border-radius: 0px;
}

.viewbtn:hover{
  background-color: blue;
}

.checkbtn{
  padding: 0px 10px;
  border-radius: 0px;
}

.checkbtn:hover{
  background-color: green;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}


.table th, .table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  font-weight: bold;
}

.btn-secondary{
  background-color: #2495FD;
  border: none;
}

.btn-secondary:hover{
  background-color: #2495FD;
  border: 1px solid #2495FD;
}

form{
  padding: 20px 30px;
}

.formrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formrow .form-group{
  width:32%;
  position: relative;
}

.socialLinks .formrow .form-group{
  width:49%;
  position: relative;
}

.propertyAminities label{
  position: relative;  
  opacity: 1;     
  color: #333;   
  pointer-events: auto; 
  transition: none;  
  transform: none;    
  margin-left: 25px;  
}



.select-buttons button {
  background-color: #2495FD;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.select-buttons button:hover {
  background-color: #0056b3;
}

.propertyAminities input[type="checkbox"] {
  display: inline-block; 
  margin-right: 0px; 
}

ul.AvailabilityOptions-row {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;          
  align-items: center;    
}

ul.AvailabilityOptions-row label {
  position: relative;  
  top: 6px;             
}

.availability-option {
  display: flex;        
  align-items: center;   
  margin-right: 20px;    
}

.availability-option input[type="radio"] {
  margin-right: -7px;    
  cursor: pointer;    
}

.availability-option label {
  position: relative;
  font-size: 16px;    
  color: #333;         
  opacity: 1;        
  pointer-events: auto;   
  transition: none;    
  margin: 0;         
}

.amenity-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px; 
}
.singleamenity {
  flex: 1 1 30%;  
  min-width: 200px; 
  /* margin-bottom: 10px; */
  box-sizing: border-box;
}

.media-buttons{
  width: 22%;
}

.media-buttons button{
  border: dotted;
  background-color: transparent;
  padding: 10px;
  text-align: center;
}

.media-buttons button:hover {
  border-color: #007BFF; 
  animation: dotted-move 1s linear infinite;
}

.propertyAminities .singleaminity{
  width: 32%;
}

.updatestatusbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.updatestatusbuttons .decline{
  margin-right: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.updatestatusbuttons .approve{
  margin-right: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.updatestatusbuttons i{
  margin-right: 10px;
}

.PageHeading{
  width: 100%;
  /* background-color: #e8e8e8; */
  /* background-color: #2495FD; */
  background-color: #8cc8ffd1;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

.PageHeading h5{
  padding-left: 10px;
}

form{
  padding: 20px 30px;
}
.input-container {
  position: relative;
  margin-top: 20px;
}

.input-container{
  position: relative; 
}

.select {
  width: 100%;
  padding-right: 30px;
}

.dropdown-icon {
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999; 
  font-size: 18px; 
}


.form-group input,.form-group textarea,.form-group select{
  border: none;
  border-bottom: 1px solid gray;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  border-radius: 0px;
}
input:focus,textarea:focus,select:focus {
  border-color: #5c9dfc;
}

label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus+label,
textarea:not(:placeholder-shown) + label
{
    top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: black;
    opacity: 1;
}
input:placeholder-shown + label,
textarea:placeholder-shown + label
{
    opacity: 0;
}

select.filled + label,
select:focus + label {
top: -10px;
font-family: 'Roboto', sans-serif;
font-size: 11px;
font-weight: 600;
color: black;
opacity: 1; 
}

select:not(:focus):not(.filled) + label {
opacity: 0;
}

.date .input-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  /* left: 405px;  */
  left: 7px;
  top: 53%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888; 
}
 input[type="date"] {
  padding: .375rem .75rem;
  font-size: 16px;
  color: #333;
}

.date label {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 16px;
  color: #aaa; 
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transform: translateY(-50%);
  opacity: 1;
}

 input[type="date"]:focus + .date label,
 input[type="date"]:valid + .date label,
 input[type="date"]:not(:empty) + .date label {
  top: -10px;
  font-size: 12px;
  color: black;
  opacity: 1;
}

 input[type="date"]:not(:focus):not(:placeholder-shown) + .date label {
  top: 50%;
  font-size: 16px;
  color: #aaa; 
  opacity: 1; 
}


a{
  text-decoration: none;
  color:black
}
a h5{
  font-family: fangsong;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
}
a p{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.backLabel{
  width: fit-content;
  
}

table thead{
 font-family:'Roboto', sans-serif;
 font-size: 12px;
}

table thead tr th{
  text-align: center;
  background-color: #1E3A5F;
  color: white;

}

table tbody{
  font-family:'Roboto', sans-serif;
  font-size: 10px;
 }

 table tbody tr td{
   text-align: center;
   
 }

 .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal.show {
  display: block;
}

.modal-dialog {
  position: relative;
  margin: 10% auto;
  max-width: 500px;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal-footer {
  text-align: center;
}

.image-table{
  height:300px;
  overflow: scroll;
  overflow-x: auto;
}
.image-table table{
  height: 100%;
  overflow: scroll;
}

.SubmitAndUpdateButtons{
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateProperty{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.submitButtonDiv{
  text-align: end;
  width: 100%;
}

.updateButton,.SubmitButton{
  /* margin-right: 20px; */
  background-color: #2495FD;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
  display: block;
}


.statusButtons .decline{
  margin-right: 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.statusButtons .approve{
  margin-right: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.statusButtons .soldOut{
  margin-right: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.statusButtons .UnSold{
  margin-right: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}

.statusButtons i,.updateButton i,.SubmitButton i{
  margin-right: 10px;
}
/* 
.addnewButton button{
  background-color: #2495FD;
  color: white;
  border: none;
}

.addnewButton button:hover{
  background-color: #0056b3;
} */

.addnewButton button {
  background-color: #2495FD;
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 10px 20px;
  font-size: 15px; 
  font-weight: bold;    
  text-transform: uppercase; 
  cursor: pointer;   
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.addnewButton button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}



.addnewButton button:focus {
  outline: none; 
  box-shadow: 0 0 0 4px rgba(37, 123, 255, 0.5); 
}

.NoDataFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NoDataFoundImg{
  height: 180px;
  width:250px;
}

.editPropbtn{
  padding: 0px 10px;
  border-left: 0.5px solid black;
  border-radius: 0px;
}

.custom-quill-editor {
  width: 100%;
  height: 100px;
  padding: 2px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1.1em;
  box-sizing: border-box;

  white-space: normal; 
  word-wrap: break-word; 
  hyphens: auto; 
}

.custom-quill-editor .ql-editor {
  word-break: normal; 
  overflow-wrap: normal; 
  white-space: pre-wrap; 
  height: 100px;
  overflow-y: scroll;
}


.ql-container {
  height: auto;
}

.ql-container .ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100px;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media (max-width: 768px){

  .mainReview{
      height: 90vh;
  }
  .filtersSearch{
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 10px;
      flex-wrap: wrap;
  }
  .searchreview,.reviewStatus{
      width:100%;
      margin-bottom: 10px;
  }

  .table thead {
      display: none;  
    }
  
    .table tbody {
      display: block;
    }
  
    .table tbody tr {
      display: block;
      margin-bottom: 10px;
    }
  
    .table tbody td {
      width: 100%; 
      padding: 15px 8px 8px 8px; 
      box-sizing: border-box;
      position: relative;
      /* display: block; */
      border: 1px solid #ddd;
    }
  
    .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 8px;
      color: #555;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 12px;  
      z-index: 1; 
    }
    .table tbody td {
      padding-left: 20px; 
      padding-top: 25px; 
    }
  
    .table tbody td .btn {
      padding: 5px;
    }

    .formrow{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .formrow .form-group{
      width:100%;
    }
}

.back-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}



.back-button {
  /* background-color: #007bff;  */
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  color: #fff; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.back-button i {
  margin-right: 8px;
  font-size: 18px;
}

.back-button:hover {
  background-color: #0056b3; 
  transform: translateY(-2px) scale(1.02);
  
}

.back-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); 
}


.back-button:active {
  background-color: #004085; 
  transform: translateY(0); 
}


.clear-btn {
  background-color :red; 
  color: white; 
  padding: 6px 7px; 
  font-size: 13px; 
  border: none; 
  border-radius: 8px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
  margin-left: 0px;
}
.clear-btn:active {
  background-color: red; 
  transform: scale(0.98); 
}



button[data-tooltip] {
  position: relative;
}

button[data-tooltip]:hover::after {
  content: attr(data-tooltip);  
  position: absolute;
  top: -30px;  
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  visibility: hidden; 
  pointer-events: none;
}

button[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}



.dropdown-icons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
}





/* .table-container {
  max-height: 400px;
  overflow-y: auto;
  position: relative;
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
} */

.table-container {
  max-height: 400px; 
  overflow-y: auto;  
  position: relative;
  padding-top: 5px;  
}

.table thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.table td, .table th {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

[data-tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 20; 
}


.email-wrapper {
  position: relative;
}

.email-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #999;
  font-size: 14px;
  pointer-events: none;
}

.email-wrapper input {
  padding-right: 35px; 
}


.go-top-btn {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 41px;
  font-size: 21px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.go-top-btn:hover {
  background-color: #0056b3;
}

.show {
  display: block;
}









@media (max-width: 1024px) {

  .mainReview {
      height: auto;
  }

  .filtersSearch {
      flex-direction: column;
      align-items: flex-start;
  }

  .searchreview, .reviewStatus {
      width: 100%;
      margin-bottom: 10px;
  }

  .reviewStatus {
      justify-content: flex-start;
  }

  .table thead {
      display: none;
  }

  .table tbody {
      display: block;
  }

  .table tbody tr {
      display: block;
      margin-bottom: 10px;
  }

  .table tbody td {
      width: 100%;
      padding: 15px 8px;
      box-sizing: border-box;
      position: relative;
      /* display: block; */
      border: 1px solid #ddd;
  }

  .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 8px;
      color: #555;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 12px;
  }

  .formrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .formrow .form-group {
      width: 100%;
  }

  .media-buttons {
      width: 100%;
  }

  .media-buttons button {
      width: 100%;
      padding: 12px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
      width: 100%;
  }

  .select-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .select-buttons button {
      width: 100%;
      margin: 5px 0;
  }

  .updatestatusbuttons {
      flex-direction: column;
  }

  .back-button-container {
      display: block;
  }

  .back-button {
      width: 100%;
      margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

  .mainReview {
      height: auto;
  }

  .filtersSearch {
      flex-direction: column;
      margin-bottom: 10px;
      align-items: flex-start;
  }

  .searchreview, .reviewStatus {
      width: 100%;
      margin-bottom: 10px;
  }

  .reviewStatus {
      justify-content: flex-start;
  }

  .table thead {
      display: none;
  }

  .table tbody {
      display: block;
  }

  .table tbody tr {
      display: block;
      margin-bottom: 10px;
  }

  .table tbody td {
      width: 100%;
      padding: 15px 8px;
      box-sizing: border-box;
      position: relative;
      /* display: block; */
      border: 1px solid #ddd;
  }

  .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 8px;
      color: #555;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 12px;
  }

  .formrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .formrow .form-group {
      width: 100%;
  }

  .media-buttons {
      width: 100%;
  }

  .media-buttons button {
      width: 100%;
      padding: 12px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
      width: 100%;
  }

  .select-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .select-buttons button {
      width: 100%;
      margin: 5px 0;
  }

  .updatestatusbuttons {
      flex-direction: column;
  }

  .back-button-container {
      display: block;
  }

  .back-button {
      width: 100%;
      margin-bottom: 20px;
  }

  .go-top-btn {
      display: block;
  }
}

@media (max-width: 480px) {

  .mainReview {
      height: auto;
  }

  .filtersSearch {
      flex-direction: column;
      margin-bottom: 10px;
      align-items: flex-start;
  }

  .searchreview, .reviewStatus {
      width: 100%;
      margin-bottom: 10px;
  }

  .reviewStatus {
      justify-content: flex-start;
  }

  .table thead {
      display: none;
  }

  .table tbody {
      display: block;
  }

  .table tbody tr {
      display: block;
      margin-bottom: 0px;
  }

  .table tbody td {
      width: 100%;
      padding: 15px 8px;
      box-sizing: border-box;
      position: relative;
      /* display: block; */
      border: 1px solid #ddd;
  }

  .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      top: 5px;
      left: 8px;
      color: #555;
      margin-right: 10px;
      text-transform: uppercase;
      font-size: 12px;
  }

  .formrow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

  .formrow .form-group {
      width: 100%;
  }

  .media-buttons {
      width: 100%;
  }

  .media-buttons button {
      width: 100%;
      padding: 12px;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
      width: 100%;
  }

  .select-buttons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .select-buttons button {
      width: 100%;
      margin: 5px 0;
  }

  .updatestatusbuttons {
      flex-direction: column;
  }

  .back-button-container {
      display: block;
  }

  .back-button {
      width: 100%;
      margin-bottom: 20px;
  }

  .go-top-btn {
      display: block;
  }

  .NoDataFoundImg {
      height: 120px;
      width: 150px;
  }
}



@media (max-width: 768px) {
  .table thead {
    display: block; 
  }

  .table, 
  .table tbody, 
  .table tr, 
  .table td {
    /* display: block; */
    width: 100%;
  }

  .table tr {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 10px;
  }

  .table td {
    position: relative;
    padding-left: 50%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #eee;
  }

  
  .table td::before {
    content: attr(data-label);
    position: absolute;
    top: 10px;
    left: 15px;
    width: 45%;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
  }
}


