
<div class="mainReview">
    <div class="w-100">
        <div class="reviewview">
            <div class="profileForm">
                <div class="PageHeading">
                    <h5 class="text-center m-0"><b>CONTACT INFORMATION</b></h5>
                </div>

                <form [formGroup]="profileform">
                    <div class="formrow">
                        <div class="form-group">
                            <div class="input-container">
                                <input id="fname" type="text" placeholder="First Name" formControlName="fname" class="form-control" />
                                <label for="fname">First Name</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-container">
                                <input id="lname" type="text" placeholder="Last Name" formControlName="lname" class="form-control" />
                                <label for="lname">Last Name</label>
                            </div>
                        </div>
                    </div>

                    <div class="formrow">
                        <!-- <div class="form-group">
                            <div class="input-container">
                                <input id="email" type="text" placeholder="Email" formControlName="email" class="form-control" readonly />
                                <label for="email">Email</label>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <div class="input-container email-wrapper"> 
                              <input 
                                id="email" 
                                type="text" 
                                placeholder="Email" 
                                formControlName="email" 
                                class="form-control" 
                                readonly 
                              />
                              <label for="email">Email</label>
                              <i class="fas fa-envelope"></i> 
                            </div>
                          </div>
                          
                        <div class="form-group">
                            <div class="input-container">
                                <input id="mobile" type="text" placeholder="Mobile Number" formControlName="mobile" class="form-control" />
                                <label for="mobile">Mobile</label>
                            </div>
                        </div>
                    </div>

                    <div class="updatestatusbuttons mt-3">
                        <div *ngIf="!changePasswordClicked" class="updatestatusbuttons1">
                            <button class="btn changepswd" (click)="changepassword()">Change Password</button>
                            <button class="btn deactivate" (click)="deactivateAccount()">Deactivate Account</button>
                        </div>
                        <!-- <div [ngClass]="changePasswordClicked ? 'w-100 text-align-end' : 'w-none'" class="updatestatusbuttons2">
                            <button class="btn" (click)="updateProfileDet()">Update Details</button>
                        </div> -->
                        <div [ngClass]="changePasswordClicked ? 'w-100 text-align-end' : 'w-none'" class="updatestatusbuttons2">
                            <button class="btn" [disabled]="!isFormChanged" (click)="updateProfileDet()">Update Details</button>
                          </div>
                          
                    </div>
                </form>
                <form *ngIf="changePasswordClicked" [formGroup]="profilePasswordChangeform">
                    <div class="PageHeading">
                        <h5 class="text-center m-0"><b>CHANGE PASSWORD</b></h5>
                    </div>
                    <div class="formrow">
                        <div class="form-group">
                            <div class="input-container">
                                <input id="fname" type="password" placeholder="Old Password" formControlName="oldPassword" class="form-control" required />
                                <div *ngIf="profilePasswordChangeform.get('oldPassword')?.invalid && profilePasswordChangeform.get('oldPassword')?.touched">
                                    <p class="text-danger fw-bold" style="font-size: x-small;" [ngClass]="clr">Old Password is required.</p>
                                </div>
                                <label for="fname">Old Password</label>
                            </div>
                        </div>
                      
                    </div>

                    <div class="formrow">
                        <div class="form-group">
                            <div class="input-container">
                                <div class="password-wrapper">
                                    <input 
                                        [type]="passwordVisible ? 'text' : 'password'" 
                                        formControlName="Password" 
                                        placeholder="Enter New Password" 
                                        class="form-control"
                                        required />
                                    <label for="password">New Password</label>
                                    <i class="fas" 
                                       [ngClass]="passwordVisible  ? 'fa-eye' : 'fa-eye-slash'" 
                                       (click)="togglePasswordVisibility()">
                                    </i>
                                </div>
                                <div class="validation-message">
                                    <p *ngIf="profilePasswordChangeform.get('Password')?.invalid && profilePasswordChangeform.get('Password')?.touched" class="text-danger fw-bold" [ngClass]="clr">New Password is required.</p>
                                    <p 
                                    *ngIf="profilePasswordChangeform.hasError('sameAsOld') && profilePasswordChangeform.get('Password')?.touched" 
                                    class="text-danger fw-bold" 
                                    [ngClass]="clr">
                                    New Password must be different from Old Password.
                                  </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-container">
                                <div class="password-wrapper">
                                    <input 
                                        [type]="confirmPasswordVisible ? 'text' : 'password'" 
                                        id="confirmPassword" 
                                        formControlName="ConfirmPassword" 
                                        placeholder="Confirm New Password" 
                                        class="form-control"
                                        required />
                                    <label for="confirmPassword">Confirm New Password</label>
                                    <i class="fas" 
                                       [ngClass]="confirmPasswordVisible  ? 'fa-eye' : 'fa-eye-slash'" 
                                       (click)="toggleConfirmPasswordVisibility()">
                                    </i>
                                </div>
                                <!-- <div class="validation-message">
                                    <p *ngIf="profilePasswordChangeform.get('ConfirmPassword')?.invalid && profilePasswordChangeform.get('ConfirmPassword')?.touched" class="text-danger fw-bold" [ngClass]="clr">Confirm Password is required.</p>
                                    <p *ngIf="profilePasswordChangeform.hasError('passwordMismatch') && profilePasswordChangeform.get('ConfirmPassword')?.touched" class="text-danger fw-bold" [ngClass]="clr">New Password & Confirm Password must match.</p>
                                </div> -->
                                <div class="validation-message">
                                    <div *ngIf="profilePasswordChangeform.get('ConfirmPassword')?.invalid && profilePasswordChangeform.get('ConfirmPassword')?.touched">
                                      <p class="text-danger fw-bold">Confirm Password is required.</p>
                                    </div>
                                    <div *ngIf="profilePasswordChangeform.hasError('passwordMismatch') && profilePasswordChangeform.get('ConfirmPassword')?.touched && !profilePasswordChangeform.get('ConfirmPassword')?.errors?.['required']">
                                      <p class="text-danger fw-bold">New Password & Confirm Password must match.</p>
                                    </div>
                                  </div> 
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="updatestatusbuttons mt-3">
                        <div class="updatestatusbuttons1">
                            <button class="btn deactivate" (click)="deactivateAccount()">Deactivate Account</button>
                        </div>
                        <div class="updatestatusbuttons2">
                            <button class="btn" (click)="updatePassword()" [disabled]="profilePasswordChangeform.invalid">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>

            <div [ngClass]="changePasswordClicked ? 'height-80vh' : 'height-100'" class="profilePicture">
                <div class="form-group">

                    <div *ngIf="!imagePreview" class="image-preview photo">
                        <img [src]="profilePhotoUrl" alt="Profile Picture Preview" />
                        <div class="edit-icon" (click)="triggerFileInput()">Edit</div>
                    </div>

                    <input type="file" id="profilePhoto" (change)="onProfilePhotoChange($event)" class="upload-btn" accept="image/*">
                    <button type="button" class="btn btn-secondary mt-2" (click)="uploadImage()" *ngIf="imagePreview">
                        Upload Image
                    </button>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [style.display]="isModalOpen ? 'block' : 'none'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Success</h5>
                        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ updateStausMessage }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
