<div *ngIf="isLoadingAdvProperty" class="preloader">
  <img src="assets/images/load.gif" alt="Loading...">
</div>

<div class="call-icon-fixed">
<a href="tel:+918688802505" title="Call Now">
  <img src="https://cdn-icons-png.flaticon.com/512/597/597177.png" alt="Call" />
</a>
</div>

<div *ngIf="!isLoadingFeaProperty && !isLoadingAdvProperty" class="pagestartContainer">
<section class="maincontainerSection">
  <app-top-nav-1 class="w-100"></app-top-nav-1>
  <div class="maincontainer">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="d-flex justify-content-center align-items-center flex-column h-100 w-100">
            <div class="content">
                <h5 class="bold-text text-white">YOUR DREAM HOME</h5>
                <p class="p-text text-white d-flex justify-content-center align-items-center">IS ONE CLICK AWAY</p>
            </div>
            <div class="search-content w-75">
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="nav nav-pills flex-nowrap">
                        <li class="nav-item">
                            <button class="nav-link" (click)="selectOption('')" [class.active]="propertyFor === ''" [ngClass]="{'bg-white text-primary': propertyFor === '', 'bg-primary text-white': propertyFor !== ''}">ALL UNITS</button>
                        </li>
                    </ul>
                </div>
                
                <div class="row h-100 m-0 bg-white rounded searchMainDiv" *ngIf="!isMobile">
                  <div class="row justify-content-center align-items-center">

                    <div class="col-12 col-md-2 position-relative input-container cityTextbox p-0">
                      <select class="form-control" [(ngModel)]="selectedcityName">
                      <option value="" >City Name</option>
                      <ng-container *ngFor="let city of cities">
                          <option [value]="city.cityID">{{ city.CityName }}</option>
                      </ng-container>
                      </select>
                      <i class="fa fa-caret-down position-absolute dropdown-icon"></i>
                    </div>
  
                    <div class="col-12 col-md-2 searchTextbox">
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Search KeyWord"
                      [(ngModel)]="keyword"
                      (keyup)="onKeywordChange()"
                      />
                      <div *ngIf="suggestions.length > 0" class="suggestions-dropdown">
                      <ul>
                          <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                          {{ suggestion }}
                          </li>
                      </ul>
                      </div>
                    </div>
  
  
                    <div class="col-12 col-md-2 p-0">
                      <button class="btn w-100" (click)="searchclick()" 
                              style="border: none; background-color: #2495FD; padding: 6px; height: 40px; border-radius: 0px;">
                        <i class="fa fa-search"></i> Search
                      </button>
                    </div>

                  </div>
                  
                  <div class="row justify-content-lg-start align-items-center searchDiv2">
                    <div class="col-12 col-md-2 position-relative input-container cityTextbox p-0">                        
                      <select class="form-control" [(ngModel)]="selectedPropertyType">
                      <option value="">Property Type</option>
                      <ng-container *ngFor="let property of propertytypes">
                          <option [value]="property.propertyTypeID">{{ property.name }}</option>
                      </ng-container>
                      </select>
                      <i class="fa fa-caret-down position-absolute dropdown-icon "></i>
                    </div>
                  
  
                    <div class="col-12 col-md-2 position-relative input-container cityTextbox">
                        <select class="form-control" [(ngModel)]="selectedPropertyFor">
                          <option value="" >Property For</option>
                          <option value="1">For Buy</option>
                          <option value="2">For sale</option>
                          <option value="3">For Rent</option>
                          <option value="4">For lease</option>                                      
                        </select>
                        <i class="fa fa-caret-down position-absolute dropdown-icon"></i>
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center align-items-center h-100 m-0 bg-white rounded" *ngIf="isMobile">
                  <div class="col-12 col-md-2">
                      <input
                      type="text"
                      class="form-control"
                      placeholder="Search KeyWord"
                      [(ngModel)]="keyword"
                      (keyup)="onKeywordChange()"
                      />
                      <div *ngIf="suggestions.length > 0" class="suggestions-dropdown">
                      <ul>
                          <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                          {{ suggestion }}
                          </li>
                      </ul>
                      </div>
                  </div>

                  <div class="col-12 col-md-2 position-relative input-container">                      
                    <select class="form-control" [(ngModel)]="selectedPropertyType">
                    <option value="">Property Type</option>
                    <ng-container *ngFor="let property of propertytypes">
                        <option [value]="property.propertyTypeID">{{ property.name }}</option>
                    </ng-container>
                    </select>
                    <i class="fa fa-caret-down position-absolute dropdown-icon"></i>
                  </div>
                
                  <div class="col-12 col-md-2 position-relative input-container">
                    <select class="form-control" [(ngModel)]="selectedcityName">
                    <option value="" >City Name</option>
                    <ng-container *ngFor="let city of cities">
                        <option [value]="city.cityID">{{ city.CityName }}</option>
                    </ng-container>
                    </select>
                    <i class="fa fa-caret-down position-absolute dropdown-icon"></i>
                  </div>

                  <div class="col-12 col-md-2 position-relative input-container">
                      <select class="form-control" [(ngModel)]="selectedPropertyFor">
                        <option value="" >Property For</option>
                        <option value="1">For Buy</option>
                        <option value="2">For sale</option>
                        <option value="3">For Rent</option>
                        <option value="4">For lease</option>                                      
                      </select>
                      <i class="fa fa-caret-down position-absolute dropdown-icon"></i>
                  </div>
            
                  <div class="col-12 col-md-2">
                    <button class="btn w-100" (click)="searchclick()" 
                            style="border: none; background-color: #2495FD; padding: 6px;">
                            <!-- color: white; -->
                      <i class="fa fa-search"></i> Search
                    </button>
                  </div>
              </div>
                
            </div>
        </div>
    </div>
  </div>
</section>


  <div class="container p-0 m-0"> 
      <section class="FeaturedUserAdertisingPropertiesSection" *ngIf="FeaturedProperties?.length > 0">
        <div class="FeaturedUserAdertisingProperties">
          <div class="container" [ngClass]="{'full-width': FeaturedProperties.length < 4, 'default-width': FeaturedProperties.length >= 4}">
              <div class="headding">
                  <h5 class="bold-text d-flex justify-content-center align-items-center">Explore Our Featured Properties</h5>
                  <p class="p-text d-flex justify-content-center align-items-center">Enjoy the variety of 100+ Different properties in the market!</p>
              </div>
              <div class="PropertiesList">
                    <div class="property-container">
                      <div class="fscrollable-properties" [ngClass]="{'center': FeaturedProperties.length < 3}" [ngStyle]="{gap:propertydetails.length <= 3? '16px': propertydetails.length === 4? '20px': '30px'}">
                        <ng-container *ngFor="let propertyitem of FeaturedProperties; let i = index">
                          <div *ngIf="i < 5" class="property-card">
                            <a [routerLink]="['/view-property', encodeID(propertyitem.propertyID)]" routerLinkActive="router-link-active" class="text-decoration-none text-black">
                              <div class="propertyFulldet d-flex">
                                <div class="propertyImage position-relative">
                                  <img [src]="propertyitem.defaultPropImage" class="img-fluid w-100 h-100" alt="Property Image">
                                  <span class="badge position-absolute top-0 start-0 m-2" [style.background-color]="propertyitem.propertyBadgeColor">
                                    {{ propertyitem.propertyAvailability }}
                                  </span>
                                 
                                </div>
                                
                                <div class="propertyDetails">
                                  <div class="propertyTitle d-flex align-items-center mt-1">                                          
                                    <p class="mb-0">
                                      {{ propertyitem.propertyname.length > 20 ? (propertyitem.propertyname | slice:0:20) + '...' : propertyitem.propertyname }}
                                    </p>
                                  </div>
                                  <div class="propertyaddress d-flex align-items-center mt-1 mb-2">
                                    <i class="fa fa-location"></i>
                                    <p class="mb-0 ms-2">
                                      {{ propertyitem.propertyaddress.length > 20 ? (propertyitem.propertyaddress | slice:0:20) + '...' : propertyitem.propertyaddress || 'N/A'}}
                                    </p>
                                  </div>
                                  <div class="propertyspecifications row m-0 justify-content-center align-items-center mb-2">
                                    <div class="col-4 d-flex align-items-center p-0">
                                      <i class="fa fa-ruler-combined text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyarea || 'N/A'}} Sqft</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                      <i class="fa fa-bed text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybeds || 'N/A'}}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                      <i class="fa fa-bathtub text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybathrooms || 'N/A'}}</p>
                                    </div>
                                  </div>
                                  <div class="propertyspecifications row m-0 justify-content-center align-items-center mb-2">
                                    <div class="col-4 d-flex align-items-center p-0">
                                      <i class="fa fa-home text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{ propertyitem.PropertyTypeName.length > 07 ? (propertyitem.PropertyTypeName | slice:0:07) + '...' : propertyitem.PropertyTypeName || 'N/A' }}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                      <i class="fa fa-compass text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyfacing || 'N/A' }}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                      <i class="fa fa-car text-dark me-2 small-icon"></i>
                                      <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyparking || 'N/A' }}</p>
                                    </div>
                                  </div>
                                  <div class="propertyFooter position-relative mt-2">
                                    <div class="bottom-bar2 d-flex justify-content-between align-items-center w-100">
                                      <div class="contact d-flex align-items-center">
                                        <a [routerLink]="['/contact-us', propertyitem.propertyID]" class="text-decoration-none text-black fw-bold">
                                          Contact
                                        </a>
                                        <i class="fa fa-phone-alt me-2 text-black"></i>
                                      </div>
                                      <div class="cost d-flex justify-content-end">
                                        <div class="price">
                                          <p class="mb-0 text-black m-lg-1">Price: </p>
                                          <p class="mb-0 text-black m-lg-1">{{convertToCrores(propertyitem.propertyprice)}}</p>

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </ng-container>
                      </div>
                      <div *ngIf="FeaturedProperties?.length > 3" class="scroll-buttons text-end" style="display: flex; justify-content: flex-end; gap: 5px; margin: 5px;">
                        <button class="scroll-btn left" (click)="fscrollLeft()">&#8592;</button>
                        <button class="scroll-btn right" (click)="fscrollRight()">&#8594;</button>
                      </div>
                      
                    </div>                      
                  <div class="browsemoreproperties row justify-content-center align-items-center m-0">
                      <button class="btn" [routerLink]="['/search-properties', encodeID('2')]" routerLinkActive="router-link-active">Browse More Properties</button>
                  </div>              
              </div>
          </div>  
        </div>
      </section>

      <section class="ExploreAdertisingPropertiesSection" *ngIf="propertydetails && propertydetails.length > 0">
        <div class="ExploreAdertisingProperties">
            <div class="container" [ngClass]="{'full-width': propertydetails.length < 4, 'default-width': propertydetails.length >= 4}">
                <div class="headding">
                    <h5 class="bold-text d-flex justify-content-center align-items-center">Explore Our Advertisement Properties</h5>
                    <p class="p-text d-flex justify-content-center align-items-center">Enjoy the variety of 100+ Different properties in the market!</p>
                </div>
                <div class="PropertiesList">
                      <div class="property-container">
                        <div class="scrollable-properties" [ngClass]="{'center': propertydetails.length < 3}" [ngStyle]="{gap:propertydetails.length <= 3? '16px': propertydetails.length === 4? '20px': '24px'}">
                          <ng-container *ngFor="let propertyitem of propertydetails; let i = index">
                            <div *ngIf="i < 5" class="property-card">
                              <a [routerLink]="['/view-property', encodeID(propertyitem.propertyID)]" routerLinkActive="router-link-active" class="text-decoration-none text-black">
                                <div class="propertyFulldet d-flex">
                                  <div class="propertyImage position-relative">
                                    <img [src]="propertyitem.defaultPropImage" class="img-fluid w-100 h-100" alt="Property Image">
                                    <span class="badge position-absolute top-0 start-0 m-2" [style.background-color]="propertyitem.propertyBadgeColor">
                                      {{ propertyitem.propertyAvailability }}
                                    </span>
                                    
                                  </div>
                                  
                                  <div class="propertyDetails">
                                    <div class="propertyTitle d-flex align-items-center mt-1">                                          
                                      <p class="mb-0">
                                        {{ propertyitem.propertyname.length > 20 ? (propertyitem.propertyname | slice:0:20) + '...' : propertyitem.propertyname }}
                                      </p>
                                    </div>
                                    <div class="propertyaddress d-flex align-items-center mt-1 mb-2">
                                      <i class="fa fa-location"></i>
                                      <p class="mb-0 ms-2">
                                        {{ propertyitem.propertyaddress.length > 20 ? (propertyitem.propertyaddress | slice:0:20) + '...' : propertyitem.propertyaddress }}
                                      </p>
                                    </div>
                                    <div class="propertyspecifications row m-0 justify-content-center align-items-center mb-2">
                                      <div class="col-4 d-flex align-items-center p-0">
                                        <i class="fa fa-ruler-combined text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyarea}} Sqft</p>
                                      </div>
                                      <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-bed text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybeds}}</p>
                                      </div>
                                      <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-bathtub text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybathrooms}}</p>
                                      </div>
                                    </div>
                                    <div class="propertyspecifications row m-0 justify-content-center align-items-center mb-2">
                                      <div class="col-4 d-flex align-items-center p-0">
                                        <i class="fa fa-home text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{ propertyitem.PropertyTypeName.length > 07 ? (propertyitem.PropertyTypeName | slice:0:07) + '...' : propertyitem.PropertyTypeName }}</p>
                                      </div>
                                      <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-compass text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyfacing}}</p>
                                      </div>
                                      <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-car text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyparking}}</p>
                                      </div>
                                    </div>

                                    <div class="propertyFooter position-relative mt-2">
                                      <div class="bottom-bar2 d-flex justify-content-between align-items-center w-100">
                                        <div class="contact d-flex align-items-center">
                                          <a [routerLink]="['/contact-us', propertyitem.propertyID]" class="text-decoration-none text-black fw-bold">
                                            Contact
                                          </a>
                                          <i class="fa fa-phone-alt me-2 text-black"></i>
                                        </div>
                                        <div class="cost d-flex justify-content-end">
                                          <div class="price">
                                            <p class="mb-0 text-black m-lg-1">Price: </p>
                                            <p class="mb-0 text-black m-lg-1">{{convertToCrores(propertyitem.propertyprice)}}</p>

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </ng-container>
                        </div>
                        <div *ngIf="propertydetails?.length > 3" class="scroll-buttons text-end" style="display: flex; justify-content: flex-end; gap: 5px; margin: 5px;">
                          <button class="scroll-btn left" (click)="scrollLeft()">&#8592;</button>
                          <button class="scroll-btn right" (click)="scrollRight()">&#8594;</button>
                        </div>
                      </div>                
                    <div class="browsemoreproperties row justify-content-center align-items-center m-0">
                      <button class="btn" [routerLink]="['/search-properties', encodeID('1')]" routerLinkActive="router-link-active">Browse More Properties</button>
                  </div>        
                </div>
            </div> 
          </div>
      </section>

      <section class="ServiceDivSection">
        <div class="ServiceDiv d-flex justify-content-center align-items-center">
            <div class="overlay"></div>
            <div class="content-wrapper">
                <div class="d-flex flex-wrap justify-content-between align-items-start w-100 h-100">
                    <div class="contactformcontent d-flex justify-content-center align-items-center m-0 h-100">
                        <div class="content">
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="heading mb-3">
                                    <h4 class="bold-text text-white">Why Our Service Is The Perfect Choice?</h4>
                                </div>
                                <div class="steps">
                                    <h5 class="bold-text1 text-white">Personalized Service</h5>
                                    <p class="text-white">We assist you with home loans, legal services and property registrations. Buying a home is an important investment – turn it into your safest and best deal at BUSERELE.</p>
                                </div>     
                            </div>
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <div class="steps mb-3">
                                    <h5 class="bold-text1 text-white">Financing made easy.</h5>
                                    <p class="text-white">We assist you with home loans, legal services and property registrations. Buying a home is an important investment – turn it into your safest and best deal at BUSERELE.</p>
                                </div>
                                <div class="steps mb-3">
                                    <h5 class="bold-text1 text-white">24/7 support</h5>
                                    <p class="text-white">We are supporting digital marketing also.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contactformdiv">
                        <div class="contactform">
                            <p class="p-text">REAL ESTATE ENQUIRY FORM</p>
                            <form [formGroup]="userEnquiryform">
                                <div class="form-group">
                                  <label for="contactname">Name</label>
                                  <input type="text" id="contactname" class="form-control"   (keypress)="OnlyAlphabetsAndSpacesAllowed($event)" formControlName="name" name="name" placeholder="Enter Name"   pattern="^[a-zA-Z\s]+$" required>
                                  <div *ngIf="userEnquiryform.get('name')?.touched && userEnquiryform.get('name')?.invalid" class="error-message">
                                    <small *ngIf="userEnquiryform.get('name')?.hasError('required')">Name is required.</small>
                                    <small *ngIf="userEnquiryform.get('name')?.hasError('pattern')">Name should only contain letters and spaces.</small>
                                    <small *ngIf="userEnquiryform.get('name')?.hasError('minlength')">Name should be at least 3 characters long.</small>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="contactEmail">Email</label>
                                  <input type="email" id="contactEmail" class="form-control" formControlName="email" name="email" placeholder="Enter Email" required>
                                  
                                  <div *ngIf="userEnquiryform.get('email')?.touched && userEnquiryform.get('email')?.invalid" class="error-message">
                                    <small *ngIf="userEnquiryform.get('email')?.hasError('email')">Please enter a valid email address.</small>
                                    <p class="error-message" [ngClass]="clr">Email is required and should be valid.</p>

                                  </div>

                                </div>
                                <div class="form-group">
                                  <label for="contactphone">Phone (Optional)</label>
                                  <input type="text" id="contactphone" class="form-control" formControlName="phone" placeholder="Enter Mobile"  (keypress)="OnlyNumbersAllowed($event)"  pattern="^[0-9]{10}$" maxlength="10" name="phone">
                                  <div *ngIf="userEnquiryform.get('phone')?.touched && userEnquiryform.get('phone')?.invalid" class="error-message">
                                    <small *ngIf="userEnquiryform.get('phone')?.hasError('pattern')">Phone number must be 10 digits long.</small>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="contactMessage">Message</label>
                                  <textarea id="contactMessage" class="form-control" rows="4" formControlName="message" name="message" placeholder="Enter Message" required></textarea>
                                  <div *ngIf="userEnquiryform.get('message')?.touched && userEnquiryform.get('message')?.invalid" class="error-message">
                                    <small *ngIf="userEnquiryform.get('message')?.hasError('required')">Message is required.</small>
                                    <small *ngIf="userEnquiryform.get('message')?.hasError('minlength')">Message should be at least 10 characters long.</small>
                                  </div>
                                </div>
                                <button class="btn w-100" (click)="enquiryformsubmit()" [disabled]="userEnquiryform.invalid">Submit</button>
                            </form>
                        </div>
                       
                    </div>

                    
                </div>                
            </div>
        </div>
      </section>
      
      <section class="blogSection" *ngIf="getDisplayedBlogs()?.length > 0">
        <div class="blog w-100">
          <div class="container">
            <div class="headding">
              <h5 class="bold-text d-flex justify-content-center align-items-center">Latest Blogs</h5>
            </div>
      
            <div class="row" >
              <div *ngFor="let blog of getDisplayedBlogs(); let i = index" class="col-12 col-sm-6 col-md-4 col-lg-4 mb-4" [ngClass]="{'justify-content-center': getDisplayedBlogs()?.length < 2,'default-width': getDisplayedBlogs().length < 4 && getDisplayedBlogs().length > 2,'total-width': getDisplayedBlogs().length >= 4 }">
                <div class="card">
                  <div class="image-container propertyImage">
                    <img [src]="blog.BlogImage" alt="Uploaded Image" class="uploaded-image" />
                  </div>
      
                  <div class="card-body">
                    <div class="info-section">
                      <h5 class="card-title">{{ blog.BlogTitle | slice:0:50 }}</h5>
                    </div>
      
                    <div class="content-section">
                      <div class="card-text">
                        <div [innerHTML]="processText(blog.BlogDescription, i)" class="blog-description"></div>
                        <p *ngIf="expandedContent[i]">{{ blog.BlogDescription }}</p>
                      </div>
                    </div>
                    <div class="blogposteddate">
                      <button class="button" [routerLink]="'/viewblog/' + encodeID(blog.BlogID)">Read More</button>
                      <p class="date" *ngIf="blog.BlogCreatedDate">
                        <i class="fas fa-calendar-alt"></i> {{ blog.BlogCreatedDate }}
                      </p>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="scrollbtn text-end" style="display: flex;justify-content: flex-end;gap: 5px;">
            <button class="scrollbtn-left btns" (click)="scrollLeftblog()">&#8592;</button>
            <button class="scrollbtn-right btns" (click)="scrollRightblog()">&#8594;</button>
        </div>
        
        </div>
      </section>
      
      <section class="TestimonialsSection" *ngIf="Reviews?.length > 0">
        <div class="Testimonials">
          <div class="container">
            <div class="headding">
              <h5 class="bold-text d-flex justify-content-center align-items-center">Testimonials</h5>
              <p class="p-text d-flex justify-content-center align-items-center">What Our Clients Say About Us!</p>
            </div>
      
            <div *ngIf="selectedReview" class="selected-review" >
              <div class="review-card d-flex flex-column justify-content-center align-items-center">
                <div class="image">
                  <img [src]="selectedReview.imageurl" alt="userimage" class="img-fluid rounded-circle">
                </div>
                <div class="review-text w-100">
                  <div class="username w-100 d-flex justify-content-center align-items-center">
                    <h5>{{ selectedReview.username ? selectedReview.username.toUpperCase() : 'N/A' }}</h5>
                  </div>
                  <div class="date w-100 d-flex justify-content-center align-items-center">
                    <p>{{ selectedReview.posteddate }}</p>
                  </div>
                  <div class="content w-100 d-flex justify-content-center align-items-center">
                    <p class="review-text-content">“{{ selectedReview.review }}”</p>
                  </div>
                  <div class="rating w-100 d-flex justify-content-center align-items-center">
                    <p>Rating:
                      <span *ngFor="let star of stars; let i = index" [class.filled]="i < selectedReview.rating" class="star">
                        <i class="fa fa-star"></i>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
      
           
            <div class="reviewsList d-flex justify-content-center align-items-center flex-column">
              <div class="review-container" [ngClass]="{'justify-content-center': Reviews.length < 2,'default-width': Reviews.length < 4 && Reviews.length > 2,'total-width': Reviews.length >= 4}">
                <div class="review-content" [ngClass]="{ 'scroll-animation': Reviews.length > 3 }">
                  <div *ngFor="let reviewitem of Reviews">
                    <a *ngIf="reviewitem.reviewID !== 'N/A'"
                    [routerLink]="['/view-reviews', encodeID(reviewitem.reviewID)]"
                    routerLinkActive="router-link-active"
                    class="text-decoration-none text-black"
                  >
                      <div
                        class="review-card d-flex flex-column justify-content-center align-items-center"
                        (click)="openReview(reviewitem)"
                      >
                        <div class="image">
                          <img
                            [src]="reviewitem.imageurl"
                            alt="userimage"
                            class="img-fluid rounded-circle"
                          />
                        </div>
                        <div class="review-text w-100">
                          <div
                            class="username w-100 d-flex justify-content-center align-items-center"
                          >
                            <h5>
                              {{
                                reviewitem.username
                                  ? reviewitem.username.toUpperCase()
                                  : 'N/A'
                              }}
                            </h5>
                          </div>
                          <div
                            class="date w-100 d-flex justify-content-center align-items-center"
                          >
                            <p>{{ reviewitem.posteddate }}</p>
                          </div>
                          <div
                            class="rating w-100 d-flex justify-content-center align-items-center"
                          >
                            <div class="stars">
                              <p>
                                <span
                                  *ngFor="let star of stars; let i = index"
                                  [class.filled]="i < reviewitem.rating"
                                  class="star"
                                >
                                  <i class="fa fa-star"></i>
                                </span>
                              </p>
                            </div>
                          </div>
                          <div class="content w-100 d-flex justify-content-center align-items-center">
                            <p class="review-text-content">
                              “{{ truncateText(reviewitem.review, 20) }}”
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            
              <div class="browse-more-container  d-flex justify-content-center align-items-center mt-5">
                <button class="btn" routerLink="/view-reviews">Browse More Reviews</button>
              </div>
            </div>           
          </div>
        </div>
      </section>
      
      <div class="modal-overlay" *ngIf="isUpdateModalOpen" (click)="UpdatecloseModal()"></div>
      <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 35%;">
              <div class="modal-header">
                <h5 class="modal-title">Status</h5>
                <button type="button" class="close" aria-label="Close" style="cursor: pointer;
                border-radius: 5px;
                color: red;margin-left: 82%;"  (click)="UpdatecloseModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body ">
                <p>{{ propertyInsStatus  }}</p> 
              </div>
              <div class="modal-footer">
                
                  <button type="button" class="btntype btn-primary" (click)="handleOk()">OK</button>
              </div>
            </div>
          </div>
      </div>
<section>
  <app-footer class="w-100"></app-footer>
</section>
</div>
