.footer {
  border-top: 10px solid #2495FD;
  background-color: #04293a;
  color: #bfcbd6;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  
}


.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-section p,
.footer-section ul,
.footer-section .social-icons a {
  color: #bfcbd6;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #bfcbd6;
  text-decoration: none;
}

.footer-section .social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #bfcbd6;
}

.footer-section .social-icons a:hover {
  color:  #2495FD;
}

.footerlogo, .footernavs {
  width: 100%; 
  margin-bottom: 20px;
}

.footerlogo .logo {
  max-width: 50%;
  height: auto;
}

.footer-section .social-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #bfcbd6;
  padding-top: 10px;
  margin-top: 20px;
  font-size: 12px;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #d0b371;
  text-decoration: none;
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.footer-bottom ul li {
  display: inline;
}

.footer-bottom ul li a {
  color: #bfcbd6;
  text-decoration: none;
}

.footer-bottom ul li a:hover {
  color: #d0b371;
}

.footernewsletter {
  border-bottom: 1px solid #bfcbd6;
  padding-bottom: 10px;
  font-size: 12px;
}

.footernewsletter h5,.footernewsletter .w-sm-auto{
  width: 50%;
}

.footernewsletter input {
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  border: none;
  width: 50%;
}

.footernewsletter button {
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  background-color:  #2495FD;
  color: #fff;
  width: 25%; 
  cursor: pointer;
}

.footernewsletter button:hover {
  background-color: #0056b3;
}

.footer-section a:hover {
  color: #ff0000;
}

.footernavs ul li a:hover{
  color: #2495FD;
}

.footer-section p i:hover {
  color: #2495FD;
}

@media (min-width: 768px) {
  .footer-content {
      flex-direction: row;
      align-items: flex-start;
  }

  .footerlogo, .footernavs {
      width: 45%;
      margin-bottom: 0; 
  }

  /* .footernewsletter input,
  .footernewsletter button {
      width: auto; /* Auto width for larger screens *
      margin-bottom: 0; /* Remove bottom margin *
  } */

  .footernewsletter input {
    width: 50%; 
  }

  .footernewsletter button{
    width: 25%;
  }

  .footer-section {
      width: 30%; 
      margin-bottom: 20px; 
  }
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
  }

  .footer-section {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
  }

  .footer-bottom {
      flex-direction: column;
      align-items: center;
  }

  .footer-bottom ul {
      flex-direction: column;
      align-items: center;
  }

  .footerlogo, .footernavs {
      width: 100%;
  }

  .footernewsletter input {
      width: 75%; 
      margin-bottom: 0px;
  }
  .footernewsletter button{
    width: 25%;
  }

  .footer-section .social-icons {
      justify-content: center;
  }

  .footerlogo .logo {
    max-width: 100%; 
    height: auto;
  }

  .footernewsletter h5,.footernewsletter .w-sm-auto{
    width: 100%;
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);  
  z-index: 1040;  
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050;  
}


