<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="h-100" src="assets/images/logo_1.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <ng-container *ngFor="let navItem of navitems">
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="navItem.navurl" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{navItem.navname}}</a>
                  </li>
              </ng-container>
          </ul>
      </div>
  </div>
</nav>
<div class="container gradient-background">
  <div class="content-wrapper">

  <form [formGroup]="signupform" class="form-grid">
    <h2 class="headerwell">Welcome</h2>
    <h2 class="subtext">Create an account</h2>

    <br>
    
    <div class="form-columns">
      <div class="form-group">
        <div class="input-container">
          <input type="text" id="FirstName" formControlName="FirstName" placeholder="First Name" required />
          <label for="FirstName">First Name</label>

          <div class="error-message">
            <div *ngIf="signupform.get('FirstName')?.invalid && signupform.get('FirstName')?.touched">
              <p class="text-danger fw-bold"><span class="text-danger">*</span>First Name is required.</p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="form-group">
        <div class="input-container">
          <input type="text" id="LastName" formControlName="LastName" placeholder="Last Name" />
          <label for="LastName">Last Name</label>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container mobile-wrapper">
          <input 
            type="text" 
            id="mobile" 
            formControlName="Mobile" 
            placeholder="Mobile" 
            required 
          />
          <label for="mobile">Mobile</label>
          <i class="fas fa-phone-alt"></i>
      
          <div class="error-message">
            <div *ngIf="signupform.get('Mobile')?.touched && signupform.get('Mobile')?.invalid">
              <p *ngIf="signupform.get('Mobile')?.hasError('required')" class="text-danger fw-bold">
                <span class="text-danger">*</span>Mobile is required.
              </p>
              <p *ngIf="signupform.get('Mobile')?.hasError('pattern')" class="text-danger fw-bold">
                Enter valid mobile Number.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-container email-wrapper">
          <input 
            type="email" 
            id="email" 
            formControlName="Email" 
            placeholder="Email" 
            required />
            <label for="email">Email</label>
          <i class="fas fa-envelope"></i> 
          <div class="error-message">
            <div *ngIf="signupform.get('Email')?.invalid && signupform.get('Email')?.touched">
              <p class="text-danger fw-bold"><span class="text-danger">*</span>Email is required and should be valid.</p>
            </div>
          </div>
        </div>
      </div>
      

      <div class="form-group">
        <div class="input-container password-container">
          <i 
            class="fas" 
            [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" 
            (click)="togglePasswordVisibility()"></i>
          <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="Password" placeholder="Password" required />
          <label for="password">Password</label>
        
          <div class="error-message">
            <div *ngIf="signupform.get('Password')?.touched && signupform.get('Password')?.invalid">
              <p *ngIf="signupform.get('Password')?.hasError('required')" class="text-danger fw-bold">
                <span class="text-danger">*</span>Password is required.
              </p>
              <p *ngIf="signupform.get('Password')?.hasError('pattern')" class="text-danger fw-bold">
                Password must contain at least one uppercase letter and one number.
              </p>
          
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-container password-container">
          <i 
            class="fas" 
            [ngClass]="confirmPasswordVisible  ? 'fa-eye' : 'fa-eye-slash'" 
            (click)="toggleConfirmPasswordVisibility()"></i>
          <input 
            [type]="confirmPasswordVisible ? 'text' : 'password'" 
            id="confirmPassword" 
            formControlName="ConfirmPassword" 
            placeholder="Confirm Password" 
            required />
            <label for="confirmPassword">Confirm Password</label>
            <div class="error-message">
          <div *ngIf="signupform.get('ConfirmPassword')?.invalid && signupform.get('ConfirmPassword')?.touched">
            <p class="text-danger fw-bold" ><span class="text-danger">*</span>Confirm Password is required.</p>
          </div>
          <div *ngIf="signupform.hasError('passwordMismatch') && signupform.get('ConfirmPassword')?.touched && !signupform.get('ConfirmPassword')?.errors?.['required']">
            <p class="text-danger fw-bold">Password & Confirm Password must match.</p>
          </div>
        </div>
        </div>
      </div>
      
    </div>

    <div class="form-buttons">
      <button type="submit" [disabled]="signupform.invalid || signupform.hasError('passwordMismatch')" (click)="signup()">Register</button>
      <button type="button" [routerLink]="['/signin']" routerLinkActive="router-link-active" >Login</button>
    </div>

    <p [ngClass]="clr.red ? 'text-danger' : (clr.green ? 'text-success' : '')">{{ registredsuccesfull }}</p>
  </form>
  <div class="image-section">
    <img src="assets/images/signimage.jpg" alt="House Image" class="full-height-img">
  </div>
  </div>
 
</div>
<app-footer></app-footer>