<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="h-100" src="assets/images/logo_1.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <ng-container *ngFor="let navItem of navitems">
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="navItem.navurl" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{navItem.navname}}</a>
                  </li>
              </ng-container>
          </ul>
      </div>
  </div>
</nav>
<div class="container gradient-background ">
  <div class="content-wrapper">
    <div class="image-section">
      <img src="assets/images/signimage.jpg" alt="House Image" class="full-height-img">
    </div>

    <form (submit)="loginform()" [formGroup]="LoginForms" class="form-section">
      <h2 class="headerwell">Welcome</h2>
      <h5 class="subtext">Login With Email</h5>
      <div class="input-container">
        <div class="email-wrapper">
          <input 
            type="email" 
            formControlName="email" 
            placeholder="Enter Email" 
            required />
            <label for="email">Email</label>
          <i class="fas fa-envelope"></i> 
        </div>
        <div *ngIf="LoginForms.get('email')?.invalid && LoginForms.get('email')?.touched">
          <p class="text-danger fw-bold"><span class="text-danger">*</span>Enter a valid email address</p>
        </div>
      </div>
      

      <div class="input-container">
        <div class="password-wrapper">
          <i 
          class="fas" 
          [ngClass]="passwordVisible  ? 'fa-eye' : 'fa-eye-slash'" 
          (click)="togglePasswordVisibility()"></i>
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder="Enter Password" required />
          <label for="password">Password</label>
        </div>
        <div *ngIf="LoginForms.get('password')?.invalid && LoginForms.get('password')?.touched">
          <p class="text-danger fw-bold" ><span class="text-danger">*</span>Enter a valid password</p>
        </div>
      </div>

      <div class="captcha-container">
        <div class="captcha-display">
          <canvas id="captchaCanvas"></canvas>
        </div>
        <div class="captcha-refresh-input input-container">
          <button type="button" class="captcha-refresh-btn" (click)="refreshCaptcha()">
            <i class="fas fa-sync-alt"></i> 
          </button>
          <div class="CAPTCHA-wrapper">
            <input 
              type="text" 
              formControlName="captcha" 
              placeholder="Enter Captcha" 
              required />
              <label for="captcha">Enter Captcha</label>
          </div>
        </div>
      </div>
      
      <div *ngIf="LoginForms.get('captcha')?.invalid && LoginForms.get('captcha')?.touched">
        <p class="text-danger fw-bold"><span class="text-danger">*</span>Enter captcha </p>
      </div>

      <button type="submit" [disabled]="LoginForms.invalid">SIGN IN</button>
      <div class="ForgetAndReg">
        <button routerLink="/forgot-password" class="btn">Forgot Password</button>
        <div class="btn-registration">
          <p>Not a member?</p>
          <button routerLink="/sign-up" class="btn">Register</button>
        </div>
      </div>
      <p [ngClass]="color.red ? 'text-danger' : (color.green ? 'text-success' : '')">{{ propertyInsStatus }}</p>
    </form>
  </div>
</div>
 <div class="modal-overlay" *ngIf="isUpdateModalOpen" (click)="UpdatecloseModal()"></div>
 <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="margin-top: 35%;">
        <div class="modal-header">
          <h5 class="modal-title">Status</h5>
          <button type="button" class="close" aria-label="Close" style="cursor: pointer;
          border-radius: 5px;
          color: red;margin-left: 82%;"  (click)="UpdatecloseModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <p>{{ propertyInsStatus  }}</p> 
        </div>
        <div class="modal-footer">
      
            <button type="button" class="btntype btn-primary" (click)="handleOk()">OK</button>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>