.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardmain {
  position: relative;
  height: calc(100vh - 35px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
  padding-bottom: 10px;
  box-sizing: border-box;
  width: 100%;
}

.w-100 {
  margin-bottom: 10px;
}

/* .cardmain{
  width: 100%;
  height: auto;
} */

.footer-bottom {
  background-color: #e8e8e8b5;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p{
  margin: 0px;
}


.PageHeading{
  width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.PageHeading h5{
  padding-left: 10px;
}


a {
color: black;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 10px;
}

a h5 {
font-family: 'FangSong', sans-serif;
font-weight: 600;
font-size: 18px;
margin: 0px;
color: black;
}

a p {
font-family: 'Roboto', sans-serif;
font-size: 10px;
color: black;
}

.editor-container {
  height: 380px;
  max-width: 775px;
  margin: 25px auto;  
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}

.editor-label {
  position: absolute;
  top: 50%; 
  left: 7px;
  font-size: 1.1em;
  color: #444;
  font-weight: 600;
  transition: top 0.3s ease, font-size 0.3s ease;
  pointer-events: none;
  transform: translateY(-50%); 
  
}

.backLabel{
  width: fit-content;
}


.editorblog-label {
  position: absolute;
  font-size: 1.1em;
  color: #444;
  font-weight: 600;
  transform: translateY(-50%);
}

.form-group {
  position: relative;
  margin-top: 11px;
}

.input-container {
  position: relative;
}

.form-control {
  width: 100%;
  border-bottom: 1px solid #ccc;
  font-size: 1.1em;
  transition: border-color 0.3s ease, padding-top 0.3s ease;
  border-radius: 10px;
}



.form-control:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 8px rgba(66, 165, 245, 0.5);
  outline: none;
}

.form-control:focus + .editor-label,
.form-control:not(:placeholder-shown) + .editor-label {
  top: -10px; 
  font-size: 0.9em;
}

.custom-quill-editor {
  width: 100%;
  height: 110px;
  padding: 2px;
  border-radius: 8px;
  font-size: 1.1em;
  box-sizing: border-box;
}

.custom-quill-editor .ql-editor {
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 100px;
  overflow-y: scroll;
}

.ql-container {
  height: auto;
}

.ql-container .ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100px;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.clear-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #d32f2f;
}

.submit-btn {
  padding: 8px 0px;
  background-color: #3f51b5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px;
  width: 15%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s, cursor 0.3s;
}

.submit-btn:hover {
  background-color: #303f9f;
  transform: scale(1.05);
}
.submit-btn:disabled,
.submit-btn.disabled-btn {
opacity: 0.5; 
cursor: not-allowed; 
}
input[type="file"] {
  margin-top: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1.1em;
}


.card {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}


.card:hover {
  transform: translateY(-5px);
}

.card-body {
  display: flex;
  width: 100%;
  height: 82%;
}

.left-side,
.right-side {
  width: 50%; 
  padding: 18px;
}

.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  text-align: justify;
}

.Blogimage{
  display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      height: fit-content;
}


.upload-container {
  display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 2px dashed #ccc;
      border-radius: 10px;
      background-color: #f9f9f9;
      text-align: center;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      width: 100%;
      max-height: 260px;
}

.upload-container:hover {
  border-color: #42a5f5;
  box-shadow: 0 0 10px rgba(66, 165, 245, 0.3);
}

.upload-icon {
  font-size: 3em; 
  color: #42a5f5;
  margin-bottom: 15px; 
}

.drag-and-drop .drag-label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.browse-btn {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px; 
}

.browse-btn:hover {
  background-color: #303f9f;
  transform: scale(1.05);
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
  width: 100%;
  max-width: 400px;
  max-height: 150px;  
  overflow-y: auto;  
  font-size: 15px
}

.file-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 1em;
 
}

.remove-btn {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-height: 80vh; 
  overflow: hidden; 
  width: 50%;
}
.modal-header{
  justify-content: space-between;
}

.modal-image {
  max-width: 97%; 
  max-height: 100%; 
  object-fit: contain; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.close-btn:hover {
  color: darkred;
}

.view-btn {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  border: none;
}


.ql-container{
  height: 50%;
}

.blogClearButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filtersSearch {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin: 15px 0px;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus+label,
textarea:not(:placeholder-shown) + label {
    top: -10px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: black;
    opacity: 1;
}

input:placeholder-shown + label,
textarea:placeholder-shown + label {
    opacity: 0;
}

.searchreview,
.addnewButton {
  margin-right: 15px; 
  width: 100%;
}


.reviewStatus{
display: flex;
justify-content: end;
align-items: center;
}

.reviewStatus button{
background-color: #2495FD;
color: white;
border: none;
}

.reviewStatus button:hover{
background-color: #0056b3;
}

.reviewstable{
height: auto;
width: 100%;
overflow: auto;
max-height: 275px;
}

.viewbtn{
  padding: 0px 10px;
  border-right: 0.5px solid black;
  border-radius: 0px;
}

.viewbtn:hover{
  background-color: blue;
}

.checkbtn{
  padding: 0px 10px;
  border-radius: 0px;
}

.checkbtn:hover{
  background-color: green;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}


.table th, .table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.table th {
  font-weight: bold;
  background-color: #1E3A5F;
  color: white;
}

.reviewcard,.reviewview{
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  
}

.addnewButton {
  display: flex;
  justify-content: flex-end;  
}

.addnewButton button {
  background-color: #2495FD;
  color: white;
  border: none;
  border-radius: 8px; 
  padding: 10px 20px;
  font-size: 15px; 
  font-weight: bold;    
  text-transform: uppercase; 
  cursor: pointer;   
  transition: all 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.addnewButton button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.addnewButton button:focus {
  outline: none; 
  box-shadow: 0 0 0 4px rgba(37, 123, 255, 0.5); 
}
.NoDataFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NoDataFoundImg{
  height: 180px;
  width:250px;
}

.editPropbtn{
  padding: 0px 10px;
  border-left: 0.5px solid black;
  border-radius: 0px;
}

@media (max-width: 768px) {
 

  .editor-container {
      height: auto;
      max-width: 800px;
      margin: 40px auto;  
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .custom-quill-editor {
    min-height: 200px; 
    font-size: 1em; 
  }

  .form-control {
    font-size: 1em;
  }


  .submit-btn {
    width: 100%;
    padding: 10px 20px; 
  }

 
  .card {
    width: 100%;
    margin: 10px auto; 
  }

  .card-body {
    display: block; 
  }

  .left-side,
  .right-side {
    width: 100%; 
    padding: 10px;
  }


  .card-img-top {
    width: 100%; 
    height: auto;
  }

  .upload-container {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }

  .upload-icon {
    font-size: 2em; 
  }

  .drag-label {
    font-size: 1em; 
  }


  .file-list {
    width: 100%; 
    max-height: none; 
  }

  .file-list li {
    font-size: 0.9em; 
  }


  .modal-content {
    max-width: 80%; 
    max-height: 70vh; 
    padding: 15px;
  }

  .modal-image {
    max-width: 100%;
    max-height: 80vh;
  }

  .clear-btn,
  .browse-btn {
    padding: 10px 15px; 
  }

  .editor-label {
    font-size: 0.9em; 
  }

  .editorblog-label {
    font-size: 1em; 
  }
}

.txt-blog
{
  width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



.searchreview {
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  padding: 0px 0px 8px 33px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px; 
  top: 45%;
  transform: translateY(-50%);
  color: black;
  font-size: 15px;
  pointer-events: none;
}

.NoDataFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NoDataFoundImg{
  height: 180px;
  width:250px;
}


a{
  text-decoration: none;
  color:black
}
a h5{
  font-family: fangsong;
  font-weight: 600;
  font-size: 18px;
  margin: 0px;
}
a p{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.backLabel{
  width: fit-content;
}

table thead{
 font-family:'Roboto', sans-serif;
 font-size: 12px;
}

table thead tr th{
  text-align: center;
  background-color: #1E3A5F;
  color: white;
}

table tbody{
  font-family:'Roboto', sans-serif;
  font-size: 10px;
 }

 table tbody tr td{
   text-align: center;
 }


  .PageHeading h5{
  padding-left: 10px;
}

button[data-tooltip] {
position: relative;
}

button[data-tooltip]:hover::after {
content: attr(data-tooltip);  
position: absolute;
top: -30px;  
left: 50%;
transform: translateX(-50%);
background-color: #333;
color: #fff;
padding: 5px 10px;
border-radius: 5px;
font-size: 12px;
white-space: nowrap;
opacity: 0;
transition: opacity 0.3s;
visibility: hidden; 
pointer-events: none;
}

button[data-tooltip]:hover::after {
opacity: 1;
visibility: visible;
}




.floating-label-group {
position: relative;
/* margin-top: 20px; */
}

.search-input {
padding-left: 30px;
padding-top: 10px;
padding-bottom: 5px;
font-size: 15px;
width: 100%;
}

.search-icon {
position: absolute;
left: 8px;
top: 50%;
transform: translateY(-50%);
color: #888;
}

.floating-label-group label {
position: absolute;
left: 30px;
top: 50%;
transform: translateY(-50%);
color: #aaa;
font-size: 16px;
pointer-events: none;
transition: 0.2s ease all;
}

.search-input:focus + label,
.search-input:not(:placeholder-shown) + label {
top: -11px;
left: 7px;
font-size: 12px;
color: black;
}



.SubmitAndUpdateButtons{
padding: 1px 30px;
display: flex;
justify-content: space-between;
align-items: center;
}

.updateProperty{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
width: 100%;
}

.submitButtonDiv{
text-align: end;
width: 100%;
}

.updateButton,.SubmitButton{
/* margin-right: 20px; */
background-color: #2495FD;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
}


.is-invalid {
border-color: red;
}

.invalid-feedback {
color: red;
font-size: 0.875em;
display: block;
}


.statusButtons .decline{
margin-right: 20px;
background-color: red;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
}

.statusButtons .approve{
margin-right: 20px;
background-color: green;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
}

.statusButtons .soldOut{
margin-right: 20px;
background-color: blue;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
}

.statusButtons .UnSold{
margin-right: 20px;
background-color: green;
color: white;
border: none;
border-radius: 20px;
padding: 10px 20px;
}

.statusButtons i,.updateButton i,.SubmitButton i{
margin-right: 10px;
}



@media (max-width: 768px) {
.editor-container {
  height: auto;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-group {
  margin-bottom: 20px;
}

.custom-quill-editor {
  min-height: 200px;
  font-size: 1em;
}

.form-control {
  font-size: 1em;
}

.submit-btn {
  width: 100%;
  padding: 10px 20px;
}

.card {
  width: 100%;
  margin: 10px auto;
}

.card-body {
  display: block;
}

.left-side,
.right-side {
  width: 100%;
  padding: 10px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.upload-container {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

.upload-icon {
  font-size: 2em;
}

.drag-label {
  font-size: 1em;
}

.file-list {
  width: 100%;
  max-height: none;
}

.file-list li {
  font-size: 0.9em;
}

.modal-content {
  max-width: 80%;
  max-height: 70vh;
  padding: 15px;
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
}

.clear-btn,
.browse-btn {
  padding: 10px 15px;
}

.editor-label {
  font-size: 0.9em;
}

.editorblog-label {
  font-size: 1em;
}

.floating-label-group {
  margin-top: 10px;
}

.search-input {
  width: 100%;
  padding: 8px 20px 8px 33px;
  font-size: 16px;
}


.search-icon {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.search-input:focus + label,
.search-input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
}

.updateButton,
.SubmitButton {
  background-color: #2495FD;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
}

.updateButton:hover,
.SubmitButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.statusButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.statusButtons button {
  width: 100%;
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  font-size: 12px;
  padding: 8px;
}

.reviewStatus button {
  width: 100%;
}

.searchreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NoDataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.NoDataFoundImg {
  height: 180px;
  width: 250px;
}
}