<div class="container">
    <div class="cardmain">
        <div class="w-100">
            <div *ngIf="!addnewBlogclicked && !editclicked" class="reviewcard">
                <div class="filtersSearch">
                    <div class="searchreview">
                      <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search properties..." />
                    </div>
                    <div class="reviewStatus">
                      <select id="pageSize" class="form-control" (change)="onWhosePropertySelectionChange($event)">
                        <option value="0">Select Blog Status</option>
                        <option value="1">Approved</option>
                        <option value="2">Declined</option>
                      </select>
                    </div>
                </div>
                <div class="filtersSearch">
                    <!-- <div class="reviewStatus">
                      <select id="pageSize" class="form-control" (change)="onWhosePropertyStatusSelectionChange($event)">
                        <!-- <option value="">Select Property Status</option> --
                        <option value="0">Latest</option>
                        <option value="1">Approved</option>
                        <option value="2">Declined</option>
                        <option value="3">Active</option>
                        <option value="4">InActive</option>
                      </select>
                    </div> -->
                    <div class="addnewButton">
                      <button (click)="addNewBlog()">Add New</button>
                    </div>
                </div>
                <div class="reviewstable">
                    <table *ngIf="!filteredPropertiesNotNull" class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="visually-hidden">BlogID</th>
                          <th>Title</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let property of getPaginatedProperties()">
                          <td data-label="PropertyID" class="visually-hidden">{{ property.BlogID }}</td>
                          <td class="text-center">{{ property.title }}</td>
                          <td class="text-center">{{ property.status }}</td>
                          <td class="text-center">
                            <button class="btn" (click)="editproperty(property.BlogID)">
                              <i class="fa fa-edit"></i>
                            </button>
                            <!-- <button *ngIf="property.IsActiveStatusBoolean==='1'" class="btn editPropbtn" (click)="DeActivateproperty(property.BlogID)">
                              <i class="fa fa-trash"></i>
                            </button>
                            <button *ngIf="property.IsActiveStatusBoolean==='0'" class="btn editPropbtn" (click)="Activateproperty(property.BlogID)">
                              <i class="fa fa-check"></i>
                            </button> -->
                          </td>
                        </tr>
                      </tbody>
                      
                    </table>
                    <!-- filteredProperties.length === 0 -->
                    <div *ngIf="filteredPropertiesNotNull" class="NoDataFound">
                      <div class="NoDataFoundImg">
                        <img class="h-100 w-100" src="assets/images/IconsImages/NoDataFound.jpg" alt="">
                      </div>
                      <p>No properties found for the given search or filter criteria.</p>
                    </div>
                </div>
            </div>
            <form *ngIf="addnewBlogclicked || editclicked" [formGroup]="propertytype" class="editor-container">
              <div class="PageHeading">
                <h2 class="text-center m-0"><b> BLOG </b></h2>
              </div>
              <div class="card-body">
                  <div class="left-side">
                      <div class="form-group">
                      <div class="input-container">
                          <input 
                          type="text" 
                          id="Name" 
                          formControlName="Name" 
                          class="form-control" 
                          placeholder="" 
                          required 
                          autocomplete="off" 
                          />
                          <label for="Name" class="editor-label">TITLE:</label>
                      </div>
                      </div>
                      
                      <div class="form-group">
                      <div class="blogClearButtons">
                          <div>
                              <label for="Blog" class="editorblog-label">BLOG:</label>
                          </div>
                          <div>
                              <button class="clear-btn" type="button" (click)="clearContent('Blog')">Clear Blog</button>
                          </div>
                      </div>
                      
                      <quill-editor
                          formControlName="Blog" id="Blog"
                          [modules]="editorConfig" class="custom-quill-editor" placeholder="Start typing here..."></quill-editor>
                      </div>
              
              
                  </div>
      
                  <div class="right-side Blogimage">
                      <div class="upload-container">
                        <div class="drag-and-drop">
                            <div>
                            <i class="fas fa-upload upload-icon"></i>
                            </div>
                            <div>
                            <label class="drag-label">Drag and Drop Files Here or</label>
                            </div>
                            <div>
                            <button class="browse-btn" type="button" (click)="fileInput.click()">Browse</button>
                            </div>
                            <input type="file" #fileInput (change)="onFilesSelected($event)" accept="image/*" hidden />
                            <!-- <ul class="file-list">
                            <div class="!editclicked">
                              <li *ngFor="let file of files">
                                <span>{{ file.name }}</span>
                                <button type="button" class="remove-btn" (click)="removeFile(file)"><i class="fa fa-times"></i></button>
                                <button type="button" class="view-btn" (click)="viewImage(file)">
                                <i class="fas fa-eye"></i> 
                                </button>
                              </li>
                            </div>
                            <div class="editclicked">
                              <li *ngFor="let file of files1">
                                <span>{{ file.name }}</span>
                                <button type="button" class="remove-btn" (click)="removeFile(file)"><i class="fa fa-times"></i></button>
                                <button type="button" class="view-btn" (click)="viewImage(file)">
                                <i class="fas fa-eye"></i> 
                                </button>
                              </li>
                            </div>
                            
                            </ul> -->
                        
                            <ul class="file-list">
                              <!-- Display files from 'files' if they exist -->
                              <ng-container *ngIf="files.length > 0">
                                <li *ngFor="let file of files">
                                  <span>{{ file.name }}</span>
                                  <button type="button" (click)="removeFile(file)">
                                    <i class="fa fa-times"></i>
                                  </button>
                                  <button type="button" (click)="viewImage(file)">
                                    <i class="fas fa-eye"></i>
                                  </button>
                                </li>
                              </ng-container>
                            
                              <!-- Display files from 'files1' if they exist -->
                              <ng-container *ngIf="files1.length > 0">
                                <li *ngFor="let file1 of files1">
                                  <span>{{ file1.name }}</span>
                                  <button type="button" (click)="removeFile1(file1)">
                                    <i class="fa fa-times"></i>
                                  </button>
                                  <button type="button" (click)="viewImage1(file1)">
                                    <i class="fas fa-eye"></i>
                                  </button>
                                </li>
                              </ng-container>
                            
                              <!-- Fallback message if both arrays are empty -->
                              <ng-container *ngIf="files.length === 0 && files1.length === 0">
                                <li>No files to display</li>
                              </ng-container>
                            </ul>
                            
                            
                          </div>
                      </div>
                  </div>
              </div>
              <button class="submit-btn" (click)="onSubmit()">Submit</button>
              <button  (click)="UpdateBlog()">Update</button>
              <!-- <button class="submit-btn" [disabled]="!propertytype.valid || !imageUrl" (click)="onSubmit()">Submit Blog</button> -->
            </form>
        </div>
    </div>
    
    <div class="modal" *ngIf="showModal" (click)="closeModal()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <img [src]="imageUrl" alt="Image Preview" class="modal-image">
        <button class="close-btn" (click)="closeModal()">X</button>
      </div>
    </div>
    
    
    <div class="card" *ngIf="imageUrl && blogText">
      <div class="card-body">
        <img [src]="imageUrl" alt="Uploaded Image" class="card-img-top">
        <div class="card-text" [innerHTML]="sanitizeHtml(blogText)"></div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Status</h5>
              <button type="button" class="close" aria-label="Close" (click)="UpdatecloseModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ propertyInsStatus }}</p> <!-- Success/Failure message -->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
            </div>
          </div>
        </div>
    </div>
</div>