<div *ngIf="isLoading" class="preloader">
    <img src="assets/images/load.gif" alt="Loading...">
</div>
<div *ngIf="!isLoading">
    <div class="container">
        <div class="properties row g-3 justify-content-center align-items-center">
            <ng-container *ngFor="let propertyitem of propertydetails">
                <div class="col-lg-4 col-md-6 col-sm-12 p-0 mb-3 rounded-2">
                    <a [routerLink]="['/view-property', propertyitem.propertyID]" routerLinkActive="router-link-active" class="text-decoration-none text-black">
                        <div class="propertyFulldet d-flex flex-column">
                            <!-- Property Image Section -->
                            <div class="propertyImage position-relative">
                                <img [src]="propertyitem.propertyimage" class="img-fluid w-100 h-100" alt="Property Image">
                                <span class="badge position-absolute top-0 start-0 m-2" [style.background-color]="propertyitem.propertyBadgeColor">{{propertyitem.propertyAvailability}}</span>
                                <div class="bottom-bar1 position-absolute bottom-0 start-0 w-100">
                                    <h5 class="mb-0 text-white">{{propertyitem.propertyname}}</h5>
                                </div>
                            </div>
                        
                            <!-- Property Details Section -->
                            <div class="propertyDetails">
                                <div class="propertyaddress d-flex align-items-center mt-1 mb-1">
                                    <i class="fa fa-location"></i>
                                    <p class="mb-0 ms-2">
                                        {{ propertyitem.propertyaddress.length > 20 ? (propertyitem.propertyaddress | slice:0:20) + '...' : propertyitem.propertyaddress }}
                                    </p>
                                </div>
                                <div class="propertyspecifications row m-0 justify-content-between mb-1">
                                    <div class="col-4 d-flex align-items-center p-0">
                                        <i class="fa fa-ruler-combined text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyarea}} Sqft</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-bed text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybeds}}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-bathtub text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertybathrooms}}</p>
                                    </div>
                                </div>
                                <div class="propertyspecifications row m-0 justify-content-between">
                                    <div class="col-4 d-flex align-items-center p-0">
                                        <i class="fa fa-home text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{ propertyitem.propertytypeName.length > 7 ? (propertyitem.propertytypeName | slice:0:7) + '...' : propertyitem.propertytypeName }}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-compass text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyfacing}}</p>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center align-items-center p-0 border-dark" style="border-left: 0.5px dotted;">
                                        <i class="fa fa-car text-dark me-2 small-icon"></i>
                                        <p class="mb-0 text-dark smaller-text">{{propertyitem.propertyparking}}</p>
                                    </div>
                                </div>
                                <div class="propertyFooter position-relative mt-2">
                                    <div class="bottom-bar2 d-flex justify-content-end align-items-center">
                                        <div class="cost d-flex justify-content-end">
                                            <div class="price">
                                                <p class="mb-0 text-white m-lg-1">Price: </p>
                                            </div>
                                            <p class="mb-0 text-white m-lg-1">{{convertToCrores(propertyitem.propertyprice)}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>

  