<form [formGroup]="propertytype" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="description">Description:</label>
      <quill-editor
        formControlName="description"
        id="description"
        [modules]="editorConfig"
        class="custom-quill-editor"
        placeholder="Enter description..."
      ></quill-editor>
  
      <button class="clear-btn" type="button" (click)="clearContent('description')">Clear Description</button>
    </div>
  
    <div class="form-group">
      <label for="Specificdescription">Specific Description:</label>
      <quill-editor
        formControlName="Specificdescription"
        id="Specificdescription"
        [modules]="editorConfig"
        class="custom-quill-editor"
        placeholder="Enter Specific description..."
      ></quill-editor>
  
      <button class="clear-btn" type="button" (click)="clearContent('Specificdescription')">Clear Specific Description</button>
    </div>
  
    <button type="submit" [disabled]="!propertytype.valid">Submit Description</button>
  </form>


  <div *ngIf="description || Specificdescription; else loading">
    <div>
      <h3>Description:</h3>
      <div [innerHTML]="sanitizeHtml(description)"></div>
    </div>
    <div>
      <h3>Specific Description:</h3>
      <div [innerHTML]="sanitizeHtml(Specificdescription)"></div>
    </div>
  </div>
  
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>