<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="h-100" src="assets/images/logo_1.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <ng-container *ngFor="let navItem of navitems">
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="navItem.navurl" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{navItem.navname}}</a>
                  </li>
              </ng-container>
          </ul>
      </div>
  </div>
</nav>
<div class="container gradient-background">
    <form [formGroup]="signupform" class="form-grid">
      <h2>ForGot Password</h2>
      <br>
      
      <div>  
        <div *ngIf="!otpVerified" class="form-columns">
          <div class="form-group">
            <div class="input-container email-wrapper">
              <input 
                type="email" 
                id="email" 
                formControlName="Email" 
                placeholder="Email" 
                required 
              />
              <label for="email">Email</label>
              <i class="fas fa-envelope"></i>
              
              <div *ngIf="signupform.get('Email')?.invalid && signupform.get('Email')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">
                  Email is required and should be valid.
                </p>
              </div>              
            </div>          
            <div>
              <button (click)="sendOTPClick()" class="btn">Send Otp</button>
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                <input type="text" formControlName="OTP" placeholder="Enter OTP" required/>
                <label for="OTP">OTP</label>
              </div>
              <div *ngIf="signupform.get('OTP')?.invalid && signupform.get('OTP')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">OTP is required and should be valid.</p>
              </div>
            </div>

            <div class="otp-timer text-danger fw-bold" *ngIf="otpSent && !otpExpired">
              Time left: {{ timeLeft }}s
            </div>
            <div class="text-danger fw-bold" *ngIf="otpExpired">
              OTP expired. Please request a new one.
            </div>            
          </div>          
        </div>

        <div *ngIf="otpVerified" class="form-columns">
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                <input [type]="passwordVisible ? 'text' : 'password'" formControlName="Password" placeholder="Enter New Password" required />
                <label for="password">New Password</label>
                <i  class="fas" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></i>
              </div>
              <div *ngIf="signupform.get('Password')?.invalid && signupform.get('Password')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">New Password is required.</p>
              </div>
              
            </div>
          </div>
        
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                  <input [type]="confirmPasswordVisible ? 'text' : 'password'"  id="confirmPassword" formControlName="ConfirmPassword" placeholder="Confirm New Password" required />
                  <label for="confirmPassword">Confirm New Password</label>
                  <i class="fas" [ngClass]="confirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="toggleConfirmPasswordVisibility()"></i>
              </div>
              <div *ngIf="signupform.get('ConfirmPassword')?.invalid && signupform.get('ConfirmPassword')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">Confirm New Password is required.</p>
              </div>
              <div *ngIf="signupform.hasError('passwordMatchValidator') && signupform.get('ConfirmPassword')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">Passwords do not match.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-buttons">
        <button *ngIf="!otpVerified" type="submit" class="btn verify-btn"   (click)="verifyOTPClick()">VerifyOTP</button>
        <button *ngIf="otpVerified" type="submit" [disabled]="signupform.invalid || signupform.hasError('passwordMismatch')" (click)="changePassword()">Update Password</button>
        <button type="button" [routerLink]="['/signin']" routerLinkActive="router-link-active" class="btn login-btn">Login</button>
      </div>
      <p [ngClass]="clr.red ? 'text-danger' : (clr.green ? 'text-success' : '')">{{ registredsuccesfull }}</p>
    </form>
    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Status</h5>
            <button type="button" class="close" aria-label="Close" style="border-radius: 5px;
                color: red;" (click)="UpdatecloseModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ passwordChangeStatus }}</p> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" style="width: 60px;" (click)="handleOk()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>