<div class="container">
    <form [formGroup]="signupform" class="form-grid">
      <h2>ForGot Password</h2>
      <br>
      
      <div>  
        <div *ngIf="!otpVerified" class="form-columns">
          <div class="form-group">
            <div class="input-container">
              <input type="email" id="email" formControlName="Email" placeholder="Email" required />
              <div *ngIf="signupform.get('Email')?.invalid && signupform.get('Email')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">Email is required and should be valid.</p>
              </div>
              <label for="email">Email</label>
            </div>
            <div>
              <button (click)="sendOTPClick()" class="btn">Send Otp</button>
            </div>
          </div>
    
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                  <input 
                  type="text"
                  formControlName="OTP" 
                  placeholder="Enter OTP" 
                  required 
                />
  
                <div *ngIf="signupform.get('OTP')?.invalid && signupform.get('OTP')?.touched">
                  <p class="text-danger fw-bold" [ngClass]="clr">OTP is required and should be valid.</p>
                </div>
                <label for="password">OTP</label>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="otpVerified" class="form-columns">
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                  <input 
                  [type]="passwordVisible ? 'text' : 'password'" 
                  formControlName="Password" 
                  placeholder="Enter New Password" 
                  required 
                />
                <label for="password">New Password</label>
                        <i 
                  class="fas" 
                  [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" 
                  (click)="togglePasswordVisibility()"></i>
              </div>
              <div *ngIf="signupform.get('Password')?.invalid && signupform.get('Password')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">New Password is required.</p>
              </div>
              
            </div>
          </div>
        
          <div class="form-group">
            <div class="input-container">
              <div class="password-wrapper">
                  <input [type]="passwordVisible ? 'text' : 'password'"  id="confirmPassword" formControlName="ConfirmPassword" placeholder="Confirm New Password" required />
                  <label for="confirmPassword">Confirm New Password</label>
                  <i 
                        class="fas" 
                        [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" 
                        (click)="togglePasswordVisibility()"></i>
              </div>
              <div *ngIf="signupform.get('ConfirmPassword')?.invalid && signupform.get('ConfirmPassword')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">Confirm New Password is required.</p>
              </div>
              <div *ngIf="signupform.hasError('passwordMatchValidator') && signupform.get('ConfirmPassword')?.touched">
                <p class="text-danger fw-bold" [ngClass]="clr">Passwords do not match.</p>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
  
      <div class="form-buttons">
        <button *ngIf="!otpVerified" type="submit" (click)="verifyOTPClick()">VerifyOTP</button>
        <button *ngIf="otpVerified" type="submit" [disabled]="signupform.invalid || signupform.hasError('passwordMismatch')" (click)="changePassword()">Update Password</button>
        <button type="button" [routerLink]="['/signin']" routerLinkActive="router-link-active" class="btn">Login</button>
      </div>
  
      <p [ngClass]="clr.red ? 'text-danger' : (clr.green ? 'text-success' : '')">{{ registredsuccesfull }}</p>
    </form>

    <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isUpdateModalOpen}" [style.display]="isUpdateModalOpen ? 'block' : 'none'">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Status</h5>
            <button type="button" class="close" aria-label="Close" (click)="UpdatecloseModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>{{ passwordChangeStatus }}</p> <!-- Success/Failure message -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="handleOk()">OK</button>
          </div>
        </div>
      </div>
    </div>
</div>